language: node_js
node_js:
   - "0.10"

before_script:
  - mysql -e 'create database ledita_test;'
  - mysql < database/ci/ledita-test.sql --verbose
  - mysql < database/ci/test-data.sql --verbose  
  - npm install -g node-gyp
  - mkdir logs
  - NODE_ENV=ci node server.js > /dev/null &
  - sleep 3

script:
  - NODE_ENV=ci npm test
  - karma start test/client/config/karma.config.js --no-auto-watch --single-run --reporters=progress --browsers=PhantomJS
  - karma start test/client/config/karma-e2e-travis.conf.js --reporters=progress --browsers=PhantomJS