language: node_js
node_js:
   - "0.10"
   - "0.8"

before_script:
#FIXME These scripts need to be reorganized to work in dev vs ci envs
  - mysql -e 'create database ledita_test;'
  - mysql < database/ci/ledita-test.sql --verbose
  - mysql < database/test-data.sql --verbose  
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install --quiet -g karma
  - NODE_ENV=ci node server.js > /dev/null &
  - sleep 3

script:
  - NODE_ENV=ci npm test
  # The below script is commented out because angular unit tests are not implemented yet
  #- karma start config/karma.conf.js --no-auto-watch --single-run --reporters=dots --browsers=Firefox
  - karma start test/client/config/karma-e2e.conf.js --reporters=dots --browsers=Firefox


