language: node_js
node_js:
   - "0.10"
   - "0.8"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install --quiet -g karma
  - sleep 3

script:
  #- karma start config/karma.conf.js --no-auto-watch --single-run --reporters=dots --browsers=Firefox
  - karma start test/client/config/karma-e2e.conf.js --reporters=dots --browsers=Firefox