/* ==================
 LEDITA Style Sheet
=====================
Swatch colors:
0099CC = light blue
990000 = red
F5F4ED = light grey
666666 = grey
ACE500 = green
=================== */

/* resets and overrides
===================== */
* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

.zeroLeft {
    margin-left: 0;
}

/* body & type
===================== */
body {
    padding: 60px 0 40px;
    font: 14px 'Raleway', sans-serif;
    line-height: 22px;
    color: #666666;
    background: url("../img/old_mathematics.png");

}

h1, h2, h3, h4 {

}

a {
    color: #0099cc;
    font-weight: bold;
}

a:hover {
    color: #990000;
    text-decoration: none;
}

.whiteText, .whiteText a {
    color: #FFFFFF;
}

.whiteText a {
    text-decoration: underline;
}

.homeHeader {
    text-shadow: 0 -2px 2px #FFFFFF, 0 2px 2px #CCCCCC;
    text-align: center;
    font-family: Allan, sans-serif;
    font-style: italic;
    font-size: 32px;

}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

/*  error page
===================== */
.boardTop, .boardBottom {
    width: 100%;
    height: 10px;
    clear: both;
    background: url("../img/wood.png");
}

.boardBottom {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

}

.boardLeft {
    width: 2%;
    height: 250px;
    background: url("../img/wood.png");
    float: left;
}

.boardRight {
    width: 2%;
    height: 250px;
    background: url("../img/wood.png");
    float: right;
}

.boardBody {
    background: url("../img/boardBody.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 96%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    height: 210px;
}

.boardBody h1 {
    padding: 30px 30px 0 30px;
}

.boardBody h3 {
    padding: 0 30px 0 30px;
}

/* main layout
===================== */

#sidebar {
    background-color: #FFF;
    border: 6px solid #990000;
    border-radius: 6px;
    padding: 10px;
    min-height: 350px;
}

#sidebarHeader {
    background-color: #990000;
    color: #FFFFFF;
    border: 1px dashed #FFFFFF;
    text-align: center;
    padding: 5px;
    margin: 0 0 15px 0;
}

.marginTopSidebar {
    padding-top: 15px;
}

.btn-sidebar {
    color: #FFFFFF;
    font-weight: bold;
    border: #0099CC;
    background-color: #0099CC;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 3px;
    margin: 0;
    line-height: 12px;
}

.sidebarItem {
    float: left;

    list-style: none;
}

.sidebarItem a {
    margin: 0 5px 2px 0;
    background-color: #dddddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 1px 4px;
    line-height: 24px;
}

.sidebarItemLink {
    font-weight: normal;
    color: #666666;
}

.sidebarItemLink:hover {
    background-color: #0099CC;
    color: #FFFFFF;

}

#content {

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

}

#contentButtons {
    width: 100%;
    text-align: justify;
    margin: 0;
}

.btnContent {
    margin: 0 1% 0 0;
    width: 150px;
    background-color: #dddddd;
    color: #666666;
    font-weight: bold;
    padding: 3px;
    border: 1px solid #CCCCCC;
    -moz-border-radius: 6px;
    -moz-border-bottom-left-radius: 0;
    border-radius: 6px 6px 0 0;

    -moz-border-bottom-right-radius: 0;
    -webkit-border-radius: 6px 6px 0 0;

    border-bottom: none;
    border-top: none;
    box-shadow: inset 0 1px 0 rgba(235, 235, 235, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}

.btnContent:hover {
    background-color: #990000;
    color: #FFFFFF;
}

.btnContent.btnActive:hover {
    background-color: #FFFFFF;
    color: #990000;
}

.btnActive {
    background-color: #FFFFFF;
    color: #990000;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: -2px;
    box-shadow: none;
}

.textarea {
    width: 90%;
    min-height: 90px;
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 14px;
    color: #555555;
}

#ldName {
    color: #FFFFFF;
    background-color: #990000;
    text-align: center;
    padding: 3px;
    border: 1px dashed #F5F4ED;
}

#langLev {
    text-align: center;
    margin: 3px;

}

.langLev {
    margin: 0 2%;
    color: #666666;
}

.langLevSel {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #990000;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    padding: 4px;
    margin: 0;

}

#contentBody {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    width: 99%;
    -moz-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

#contentHeader {
    margin: 5px 5px;
    min-height: 20px;
    padding: 5px 10px;
    background-color: #0099CC;
    color: #FFFFFF;
    border: 1px dashed #FFFFFF;
}

#contentHeader h4 {
    margin: 0;
    width: 100%;

}

.round {
    background-color: #FFFFFF;
    color: #990000;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    padding: 3px;
    margin-right: 15px;

}

.star {
    padding: 0 5px 0 0;
    margin: -2px 0 0 0;
    vertical-align: middle;
}

#model {
    background-color: #0099CC;
    margin: 8px 0 0 0;
    padding: 5px 0;
    height: 80px;
    border: 1px dashed #FFFFFF;

}

#model:hover {
    background-color: #990000;
}

.btnModelImg {
    width: 80px;
    float: left;

}

.btnModel {
    padding: 0 10px;
    text-align: right;
    color: #FFFFFF;
}

.date {
    float: left;
    padding-right: 5px;
}

/* footer
==================== */
#footer {
    margin: 0;
    padding: 0;
    text-align: center;
}

#copyInfo {
    padding: 20px 0 0 5%;
    font-size: 12px;
    line-height: 18px;
}

.scrollup {
    background: url("../img/icon_gototop.png") no-repeat scroll 0 0 transparent;
    bottom: 10px;
    display: none;
    height: 40px;
    position: fixed;
    right: 10px;
    text-indent: -9999px;
    width: 40px;
}

/* Modal Create LD
 ==================== */
.createLdForm {
    margin: 0;
    padding: 0;
}
.formLevel {
    margin: 0 auto 5px;
width: 98%;
    clear: both;
}
.formLabel {
    margin: 0;
    font-weight: bold;
    padding:0;
    float: left;
    text-align: right;
    width: 25%;
}
.formInput {
width: 70%;
    float: right;
}
input.formInput {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0 1%;
}

.formCheck {
   width: 72%;
    float: right;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    margin: 0 ;
    padding: 0;
  }

.formCheck input[type="checkbox"] {
margin-left: 4%;

}

.formTag {
    width: 70%;
    margin: 10px;
    float: right;
}


.modalEditItem {
    float: left;
    list-style: none;
    margin: 0 2px 5px 0;
}

.modalEditItem span {
    margin: 0 5px 10px 0;
    background-color: #dddddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 1px 4px;
    line-height: 24px;
}

.modalEditItemLink {
    font-weight: normal;
    color: #666666;
}

.modalEditItemLink:hover {
    background-color: #990000;
    color: #FFFFFF;

}

.modalEditItemLink:hover i {
    background-image: url("../img/glyphicons-halflings-white.png");

}

.btnForm {
    background-color: #0099CC;
    background-image: none;
    color: #ffffff;
}

.btnFormCancel {
    background-image: none;
    background-color: #990000;
    color: #FFFFFF;
}

.btnForm[disabled]:hover {
    background-color: #e6e6e6;
    opacity: 0.65;
    filter: alpha(opacity=65);
    color: #666666;
}

.btnForm:hover {
    background-color: #39BBE6;
    color: #ffffff;
}
.btnFormCancel:hover {
    background-color: #FF2800;
    color: #ffffff;
}

.errorBox {
    height: 20px;
    margin: -10px 0 5px 0;
}

.errorTipModal {
    color: #FFFFFF;
    font-size: 12px;
    background-color: #990000;
    padding: 3px;
    border-radius: 4px;
    margin: 0 0 2px 28% ;
}
/* new LD creation
 ==================== */
.sidebarForm {
    margin: 5px 0;
}

button.sidebarButton  {
background: #0099CC;
    border-radius: 14px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}
button.sidebarButton i {
    margin: 0;
    padding: 0;
}

.sidebarButton:hover {
    background-color: #990000;
    color: #ffffff;
}
.sidebarTextarea {
    font: 12px 'Raleway', sans-serif;
    width: 90%;
    resize: none;
 }

.sidebarInput {
    width: 75%;
    margin: 0;
}

input.sidebarInput {
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding: 0 5px;
}

.sidebarEditItem {
    float: left;
    list-style: none;
}

.sidebarEditItem span {
    margin: 0 5px 2px 0;
    background-color: #dddddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 1px 4px;
    line-height: 24px;
}

.sidebarEditItemLink {
    font-weight: normal;
    color: #666666;
}

.sidebarEditItemLink:hover {
    background-color: #990000;
    color: #FFFFFF;

}

.sidebarEditItemLink:hover i {
    background-image: url("../img/glyphicons-halflings-white.png");

}

/* new nodes bar
===================== */
.newActBox {
    width: 90%;
    margin: 0 auto;
}

.newActBox a {
    font-weight: normal;
}

.newActButton1:hover, .newActButton2:hover, .newActButton3:hover {
    background-color: #990000;
    color: #ffffff;
}

.newActButton1 {
    width: 55px;
    height: 55px;
    border-radius: 60px;
    background: #496f56 scroll 0 0;
    margin: 10px 3%;
    line-height: 22px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: inline-block;
}

.newActButton2 {
    width: 55px;
    height: 55px;
    border-radius: 60px;
    background: #0099CC scroll 0 0;
    margin: 10px 3%;
    line-height: 22px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: inline-block;

}

.newActButton3 {
    width: 55px;
    height: 55px;
    border-radius: 60px;
    background: #cccccc scroll 0 0;
    margin: 10px 3%;
    line-height: 22px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    color: #666;
    display: inline-block;
}

/* edit elements
===================== */
.titleLDInput {
}
input.titleLDInput {
    width: 60%;
    border-radius: 4px;
    border-width: 1px;
    font-weight: bold;
    color: #990000;
    margin: 0 0 15px 0;
    text-align: center;
padding: 2px 5px;
}
input.scopeLDInput {
    width: 35%;
    border-radius: 4px;
    border-width: 1px;
    padding: 0 1%;
    text-align: center;
    color: #990000;
}

.qcerCheck {
    background-color: #ffffff;
    color: #990000;
    border-radius: 4px;
    margin-left: 1%;
    padding: 0 2px;
}
.onoffswitch {
    position: relative;
    width: 120px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 22px;
    padding: 0;
    line-height: 22px;
    font-size: 14px;
    color: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Public";
    padding-left: 10px;
    background-color: #0099CC;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Private";
    padding-right: 10px;
    background-color: #DDDDDD;
    color: #666666;
    text-align: right;
}

.onoffswitch-switch {
    width: 14px;
    margin: 4px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 94px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}

.edit {
    float: left;
}

.edit, .delete {
    margin: -15px 5px 0;
    background-color: #4f4f4f;
    border-radius: 24px;
    width: 18px;
    height: 18px;
    line-height: 20px;
    border: 2px solid #ffffff;
    padding: 0;
}

.edit:hover, .delete:hover {
    background-color: #990000;
}

.delete {
    float: right;


}

/* activities diagram
===================== */
#activityErrors {
    width: 50%;
    margin: 20px auto;
}

.titleRight {
    float: right;
    text-align: right;
    padding: 2px 10px;
    width: 35%;
}
.titleQcer {
    margin:5px 0 0 0;
    font-weight: bold;
    width: 100%;
}

.titleQcer .round {
    margin: 0 0 0 8px;
}

.titleScope {
    font-weight: bold;
    margin: 5px 0 0 0;
}

.titleLeft {
    float: left;
    width: 60%;
    margin: 15px 0;
}
.titleEdit {
    width: 95%;
    margin: 10px auto;
    text-align: center;
}
.nav {
    margin-bottom: -5px;
}

.tabContent {
    margin: -25px 0 0 0;
    text-align: center;

    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    width: 99%;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-top: none;
    padding: 25px 0 0 0;
}

.actBox {
    border-radius: 6px;
    color: #FFF;
    min-height: 44px;
    width: 21%;
    margin: 10px 1%;
    display: inline-block;
    border: 6px solid #ebc786;
    background: url("../img/boardBody.png");
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.ldBox {
    background-color: #0099CC;
    border-radius: 6px;
    color: #FFF;
    min-height: 40px;
    width: 21%;
    margin: 10px 1%;
    display: inline-block;
    border: 6px solid #FFFFFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.ldBox .actName h6, .ldBox h6.actName {
    color: #990000;
    background: #FFFFFF;
    border: 1px dashed #0099CC;
    line-height: 14px;
    padding: 2px 0 5px 0;
    width: 96%;
    margin: 5px auto -2px auto;
    cursor: pointer;
}

.ldBox .actName h6:hover, .ldBox h6.actName:hover {
    text-decoration: underline;
    color: #990000;
}

.levelBox, .levelBoxChild {
    text-align: center;
    padding-top: 20px;
    background: url("../img/arw.png") no-repeat top;
}

div.clearfix+div.levelBox, div.levelBox:first-child,
div.newActBox+div.levelBox, div.newActBox:first-child,
div.clearfix+div.levelBoxChild, div.levelBoxChild:first-child  {
    background: none;
    padding-top: 0;
}


.actId {
    float: left;
    background-color: #FFFFFF;
    padding: 2px;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    color: #990000;
    line-height: 12px;
    font-weight: bold;
    margin: 5px;
}

.actName {
    clear: left;
    padding: 2px 5px;
    line-height: 1.3em;
    cursor: pointer;

}

.groupBox1, .groupBox2, .groupBox3, .groupBox4 {
    background-color: #dddddd;
    margin: 10px 0.5%;
    border-radius: 6px;
    padding: 0;
    display: inline-block;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

}

.groupBox1 {
    width: 22.5%;
}

.groupBox2 {
    width: 47%;
}

.groupBox3 {
    width: 69%;
}

.groupBox4 {
    width: 96%;
}

.groupName {
    float: left;
    font-weight: bold;
    margin: -10px 10px 0 20px;
}

.groupBox1  .actBox, .groupBox1 .ldBox {
    width: 85%;

}

.groupBox2 .actBox, .groupBox2 .ldBox {
    width: 42%;
}

.groupBox3 .actBox, .groupBox3 .ldBox {
    width: 27%;
}

.actLabel {
    font-size: 11px;
    font-weight: bold;
    font-family: 'arial', sans-serif;
    text-align: center;
    border-top: 1px dashed #FFFFFF;
    cursor: pointer;
    padding: 5px 0;
    width: 95%;
    margin: 0 auto;

}

.timeLabel {
    cursor: pointer;
    display: block;

}

.orgLabel {
    cursor: pointer;
    display: block;
}

a.whiteText:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.likeButton2 {
    background-color: #ddd;
    border-radius: 35px;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid #999;

}

.likeButton {
    background-color: #ddd;
    border-radius: 32px;
    text-align: center;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: -7px 10px 5px;
    padding: 10px;
    border: 3px solid #999;
    float: right;
    line-height: 10px;

}

.likedButton {
    background-color: #0099CC;
    border-radius: 32px;
    text-align: center;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: -7px 10px 5px;
    padding: 10px;
    border: 3px solid #FFFFFF;
    float: right;
    line-height: 10px;

}

.likedButton2 {
    background-color: #990000;
    border-radius: 35px;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid #FFFFFF;

}

a .likeButton {
    font-weight: normal;
    color: #666666;
}

a .likedButton {
    font-weight: normal;
    color: #FFFFFF;
}

.likeButton:hover {
    background-color: #0099CC;
    border-color: #FFFFFF;
}

a .likeButton:hover {
    color: #ffffff;
}

.likeButton:hover i {
    background-color: #ffffff;
    border-radius: 10px;

}

.likedButton:hover {
    background-color: #dddddd
}

/* activity text
===================== */
.border {
    border: 1px dashed #dddddd;
    margin: 0 5px;
    border-radius: 4px;
}

.nodeText {
    text-align: left;
    padding: 10px 25px;
    border: 1px dashed #dddddd;
    border-radius: 6px;
    font-size: 14px;
    margin: 10px 5px;
}

.nodeTextDetails {
    border: none;
    margin: 0;
    padding-top: 0;
}

.groupBoxText {
    padding-left: 20px;
    font-weight: bold;
    border: 1px dashed #0099CC;
    border-radius: 6px;
    margin: 0 -10px;
}

.groupNameText {
    color: #0099CC;
    padding: 0 25px 0 0;
    text-align: right;

}

.nodeNameText {
    color: #990000;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding-top: 15px;
}

.nodeNameTextDetails {
    color: #990000;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding-top: 0;
}

.tabText {
    padding: 0;
    font-weight: bold;
}

.nodeBodyText {
    padding: 3px;
    font-weight: normal;

}

ul.listNode li {
    list-style: none;
    line-height: 28px;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.modal-header {
    color: #FFFFFF;
    background-color: #0099CC;
    padding: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    border-bottom: 2px solid #CCCCCC;
    height: 30px;
}

.modal-header h4 {
    float: left;
    margin: 5px 0 0 40px;
}

.modal-footer {
    padding: 5px;
    margin: 0;
}


/* ldTable
===================== */
.ldTable {
    background-color: #dddddd;
    margin: 10px;
    border-radius: 6px;
}

.rowTable {
    padding: 5px;
    border-bottom: 1px dashed #999;
    text-align: left;
}

.rowTable:last-child {
    border-bottom: none;
}

.rowTable p {
    margin: 10px 5px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;

}

.headerTable {
    padding: 5px;
    border-bottom: 1px solid #999;
    background-color: #666;
    border-radius: 6px 6px 0 0;
    color: #ffffff;
    font-weight: bold;
}

.headerTable p {
    margin: 0;
    padding: 0;
}

.rowLink a, .rowLink p {
    color: #666666;
    font-weight: normal;
    line-height: 14px;

}

.rowLink a:hover .col2, .rowLink a:hover .col3, .rowLink a:hover .col4, .rowLink a:hover .col1 {
    color: #0099CC;
    font-weight: normal;
    background-color: #ffffff;
    border-radius: 6px;
    border-color: #dddddd;
}

.rowLink a:hover .col2 p, .rowLink a:hover .col3 p, .rowLink a:hover .col4 p, .rowLink a:hover .col1 p {
    color: #0099CC;
    font-weight: normal;
}

.space {
    height: 10px;
}

.zero {
    margin: 0 auto;
    padding: 0;
}

.colTable {
    float: left;
    padding: 0 1%;
    border-right: 1px dashed #999999;
}

.likeCol p {
    background-color: #FFFFFF;
    border-radius: 6px;
    color: #666666;
    font-weight: normal;
    padding: 5px;
    margin: 2px 0;
}

.likeCol p:hover {
    border: 2px solid #fff;
    margin: 0;
    background-color: #0099CC;
    color: #ffffff;
}

.likeCol p:hover i {
    background-color: #fff;
    border-radius: 4px;
}

.likedCol p {
    background-color: #0099CC;
    border-radius: 6px;
    color: #fff;
    font-weight: normal;
    padding: 5px;
    border: 2px solid #fff;
    margin: 0;
}

.likedCol p:hover {
    background-color: #ddd;
    color: #666;
    margin: 0;
}

.likedCol p i {
    background-color: #fff;
    border-radius: 4px;
}

.likedCol p:hover i {
    background-color: #ddd;
}

.col1 {
    width: 55%;
}

.col2 {
    width: 15%;
}

.col3 {
    width: 10%;
}

.col4 {
    width: 11%;
    border-right: none;
}



/* navbar
===================== */
.navbar-inverse .navbar-inner {
    background: url('../img/wood.png');

    border-bottom: 3px solid #CCCCCC;
}

.navbar .nav-top-pad {
    margin: 5px 0 0 0;
}

.btn-menu {
    width: 180px;
    height: 45px;
    margin: 0 0 0 22px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 -1px 1px #999999, 0 1px 1px #CCCCCC;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    /*    box-shadow: 0 1px 2px rgba(255,255,255, 0.65), 0 -2px 2px #CCCCCC; */
    border: none;
    border-right: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    background: transparent none;
}

.btn-menu:hover {
    color: #990000;
    background-color: #FFFFFF;
    text-shadow: 0 -1px 1px #ccc;
    box-shadow: 0 -1px 2px rgba(255, 255, 255, 0.65), 0 2px 2px #CCCCCC;

}

.navbar .nav > li {
    margin-right: 5px;
    margin-left: 5px;
}

.navbar-form {
    margin-top: 10px;
}

.nav .dropdown-toggle .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.nav-username {
    margin-top: 22px;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #999999;
    display: inline;
}

.smallText {
    font-size: 16px;
    text-transform: lowercase;
}

img.user-pic {
    width: 50px;
    height: 50px;
}

img.user-pic-big {
    width: 128px;
    height: 128px;
    border: 5px solid #ffffff;
    border-radius: 14px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.btnTitle {
    min-width: 30%;
    position: relative;
    z-index: 1;
    margin-bottom: -1px;
    padding: 0 25px;
}

.btnTitle h3 {
    line-height: 22px;
    display: inline-block;
}

.blu {
    background-color: #0000FF;
}

.nav-closed:hover .nav-username {

    text-shadow: 0 1px 2px #666;
}

.nav-closed:hover .user-pic {
    box-shadow: 0 1px 2px #666;
}

.nav-closed:hover .caret {
    box-shadow: 0 1px 2px #666;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.caret {
    border-top-color: #0099CC;
}

.nav-closed {
    margin: 10px 10px 0 0;

}

#userActionsMenu:hover {
    text-decoration: none;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
    background-color: transparent;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.user-pic {
    border: 2px solid #FFFFFF;
    margin-top: -2px;
}

/* login form
===================== */

#loginError {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #990000;
    text-shadow: 0 1px 1px rgba(155, 155, 155, 0.65);

    margin: 10px;
}

#loginButton {
    background: #0099CC none;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(155, 155, 155, 0.65);
}

.modalButton, .modalButton:hover {
    background: #FFFFFF;
    color: #0099CC;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(155, 155, 155, 0.65);
    border-radius: 22px;
    width: 22px;
    height: 22px;
    line-height: 14px;
    font-size: 14px;
    padding: 0;
    margin: 5px;
    border: 4px double #0099CC;
}

#pwRec a {
    text-align: right;
    padding-right: 75px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(155, 155, 155, 0.65), 0 -1px 1px rgba(155, 155, 155, 0.75);
}

#pwRec a:hover {
    color: #0099CC;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1), 0 -1px 1px rgba(255, 255, 255, 0.65);
}

li#loggedInUserName.nav-username {
    font-weight: bold;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    text-align: right;
    padding-right: 3px;
}

.navbar .nav.pull-right {
    margin-top: -10px;
    padding-top: 0;
}

.dropdown-menu {
    border: 3px solid #fff;
    margin: 5px;
}

.dropdown-menu > li > a:hover {
    background: #0099CC none;
}

.dropdown-menu > li > a {
    color: #666666;
}

/* registration form
===================== */
.form-horizontal {
    background-color: #0099CC;
    border-radius: 14px;
    margin: 0;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.01) rgba(0, 0, 0, 0.01) rgba(0, 0, 0, 0.025);
    border-bottom-color: #b3b3b3;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 3px 3px rgba(0, 0, 0, 0.05);

}

.login-border {
    margin-top: 40px;
}

#signUpHeader {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 -2px 1px rgba(155, 155, 155, 0.75);
    border: none;
    text-align: center;
    padding-top: 45px;
    margin: 0 auto 15px auto;

}

.btn-signup {
    color: #0099cc;
    font-weight: bold;
    background-color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.75), 0 1px 1px rgba(155, 155, 155, 0.75);
    margin: -30px auto 0 auto;
}

.btn-signup:hover,
.btn-signup:active,
.btn-signup.active,
.btn-signup.disabled,
.btn-signup[disabled] {
    color: #990000;
}

.form-horizontal .form-actions {
    padding-left: 0;
}

.form-actions {
    border: none;
    margin: 0;
    padding: 20px 0 40px 0;
    text-align: center;
}

.control-group {
    margin: 0 0 0 -128px;
    padding: 0;
    width: 100%;
}

.controls {
    margin: -20px 0 0 0;
    padding: 0;
    width: 100%;
}

#registrationErrors {
    width: 65%;
    margin: 0 auto 10px auto;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #990000;
    text-align: center;
}

/* form elements
===================== */
.input-xlarge {
    width: 77%;
}

legend {
    font-size: 24px;
}

input[type="checkbox"] {
    margin: 0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

}

.errorTip {
    font: bold 11px helvetica, arial, sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: #990000;
    padding: 3px;
}

/* grid style
===================== */
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    min-height: 150px;
}


/* Find users Page
===================== */
#searchBox {
background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 6px;
    margin-top: 10px;
}

#searchBoxHeader {
    text-align: center;
}

.userTable {
    background-color: #dddddd;
    margin: 10px;
    border-radius: 6px;
    text-align: center;
}

.colUser0 {
    width: 48px;
}
.colUser1 {
    width: 15%;
}
.colUser2 {
    width: 15%;
}
.colUser3 {
    width: 3%;
}
.colUser4 {
    width: 20%;
}
.colUser5 {
    width: 13%;
}
.colUser6 {
    width: 13%;
    border-right: none;
}

.rowUserLink a, .rowUserLink p {
    color: #666666;
    font-weight: normal;
    line-height: 28px;
    text-align: center;

}

.rowUserLink a:hover .colUser1, .rowUserLink a:hover .colUser2, .rowUserLink a:hover .colUser3, .rowUserLink a:hover .colUser4, .rowUserLink a:hover .colUser5, .rowUserLink a:hover .colUser6 {
    color: #0099CC;
    font-weight: normal;
    background-color: #ffffff;
    border-radius: 6px;
    border-color: #dddddd;
}

.rowUserLink a:hover .colUser1 p, .rowUserLink a:hover .colUser2 p, .rowUserLink a:hover .colUser3 p, .rowUserLink a:hover .colUser4 p, .rowUserLink a:hover .colUser5 p, .rowUserLink a:hover .colUser6  p{
    color: #0099CC;
    font-weight: normal;
}
/* misc
===================== */
.top-margin {
    margin-top: 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.zeroMargin {
    margin: 0;
}

.marginTop {
    padding-top: 5px;
}

.user-avatar {
    border: 2px solid #FFFFFF;
    margin-top: -3px;
}

.caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.red {
    color: #990000;
}

.padding-right {
    padding-right: 10px;
}

/* User Profile
===================== */
.qcerList {
    float: left;
}

#contentBodyUser {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    width: 99%;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    -webkit-border-radius: 0 6px 6px 6px;
    margin: 0;
    padding: 0;
}


/* LDs view
===================== */

.ld-grid {
    margin-left: 0;
}

.ld-border {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 2px solid #FFFFFF;
    padding: 5px 10px 5px 10px;
    margin: 0 1% 20px auto;
    background-color: #0099CC;
    width: 22%;
    min-width: 200px;
    float: left;
    color: #FFFFFF;
    height: 180px;
}



.ld-center {
    margin: 10px auto 5px auto;
    height: 135px;
    width: 95%;
    background-color: #FFFFFF;
    border: 1px dashed #0099CC;
    padding: 0;
}

.ld-bottom {
    margin: 5px auto 0 auto;

}

.ld-bottom a {
    font-weight: normal;
}

.qcer {
    margin-top: 0px;
    padding-top: 0;
}

.qcer, .scope {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    font-weight: normal;
}

.qcer-spacer {
    margin-right: 5px;
}

.authorName a {
    float: right;
    text-align: center;
    margin: 0 0 2px 0;
    display: inline-block;
    color: #fff;
    font-weight: normal;
    padding:0 2px;
    border-radius: 4px;
border: 1px solid #0099CC;
}
.authorName a:hover {
    border: 1px dashed #ffffff;
    padding:0 2px;
    border-radius: 4px;
}
 .likes a:hover {
    background-color: #FFFFFF;
}

.likes a {
    float: left;
    text-align: center;
    margin: 0 5px 2px 0;
    background-color: #dddddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 1px 4px;
    line-height: 24px;
    width: 25%;
    color: #666666;
}

.liked a {
    float: left;
    text-align: center;
    margin: 0 5px 2px 0;
    background-color: #990000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 1px 4px;
    line-height: 20px;
    color: #FFFFFF;
    width: 25%;
    border: 2px solid #FFFFFF;
}

.likes:hover, .authorName:hover {
    box-shadow: 0 -1px 1px #CCCCCC, 0 1px 1px #F5F4ED;

}

.liked a:hover {
    color: #dddddd;
    text-decoration: none;
}


.ld-name-text {
    font-size: 22px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 78px;
    margin: 5px;

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.ld-name-text  {
    color: #990000;
}

.ld-name-text:hover {
    text-decoration: none;
    text-shadow: 0 -1px 1px #CCC, 0 1px 1px #999;

}

/* Responsive Rules
================ */
@media (min-width:1200px) {

    .ld-border {
        margin-right: 0.6%;
    }

    .btnModel {
        font-size: 18px;
    }

    .btnModelImg {
        width: 80px;
        margin: 5px;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    .control-group {
        margin: 0 0 0 -140px;
    }

    .ld-border {
        width: 20%;
    height: 195px;
    }

    .ld-center {
        height: 150px;
    }

    .ld-name-text {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 94px;
    }

    .scope, .qcer {
        width: 90%;
    }
    .btn-menu {
        width: 130px;
        margin: 0 0 0 8px;
    }
    label {
        font-size: 12px;
    }

}

@media (max-width: 979px) {
    body {
        padding: 0;
        margin: 0;
    }

    .ld-border {
        width: 28%;
        margin-left: 1%;
    }

    .navbar .brand {
        margin: 0;
        padding: 5px 5px 5px 30px;
    }

    .navbar-inverse .btn-navbar:hover {
        background-color: #0099CC;
    }

    .navbar-inverse .btn-navbar {
        background: #0099CC none;
        margin: 10px 30px;
        border: 2px solid #FFFFFF;
    }

    .navbar-inverse .nav-collapse .navbar-form {
        border-color: #FFFFFF;
        background-color: #0099CC;
        margin: 0;
    }

    input[class*="span"] {
        width: 90%;
        margin: 10px auto;
    }

    #loginButton {
        background-color: #FFFFFF;
        color: #0099CC;
        margin: 0 0 0 75%;
    }

    #loginButton:hover {
        color: #990000;
    }

    #pwRec a {
        display: inline;
        float: left;
        margin: -3% 0 0 5%;
    }

    #pwRec a:hover {
        color: #FFFFFF;
        text-decoration: underline;
        text-shadow: none;
    }

    p {
        padding: 0 20px;
    }

    .login-border {
        margin: 0 auto;
    }

    .top-margin {
        margin-top: 0;
    }
    .userData {
        margin-bottom: 20px;
    }
    .control-group {
        margin: 0 0 0 -150px;
    }

    label {
        font-size: 12px;

    }

    .nav-collapse {
        background-color: #0099CC;
        margin: 2px 0 0 0;
        border: none;
    }

    .btn-menu {
        width: 100%;
        margin-bottom: 15px;
    }

    ul.nav-top-pad.nav {
        float: left;
        width: 60%;
    }

    div.pull-right.nav-closed {
        float: right;
        width: 35%;
        text-align: right;
    }

    .navbar-inverse .nav-collapse .dropdown-menu {
        background-color: #FFFFFF;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border: 2px solid #FFFFFF;
        margin-top: 5px;

    }

    .navbar-inverse .nav-collapse .dropdown-menu a {
        color: #666666;
        font-weight: normal;

    }

    .navbar-inverse .nav-collapse .dropdown-menu > li > a:hover {
        background-color: #0099CC;
        color: #FFFFFF;
    }

    .nav-closed:hover .nav-username {
        color: #FFFFFF;
        text-shadow: none;
        text-decoration: underline;
    }

    .nav-closed:hover .user-pic {
        border-color: #FFFFFF;
    }

    div.row-fluid {
        width: 100%;
    }

    div.container {
        width: 95%;

    }

    .btnModel {
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
    }

    .btnModelImg {
        width: 60px;
        margin: 10px;
    }

    .ldBox, .actBox {
        width: 20%;
    }

    .likeButton, .likedButton {
        margin: 2px 10px 5px;
    }

}

@media (max-width: 885px) and (min-width: 767px) {
    .btnModel {
        font-size: 12px;
        line-height: 16px;
        margin-top: 5px;
    }

    .btnModelImg {
        width: 60px;
        margin: 10px 2px;
    }

    .btnTitle {
        min-width: 35%;
    }

}

@media (max-width: 767px) {

    .likeButton, .likedButton {
        margin: -7px 10px 5px;
    }

    .userData {
        text-align: center;
        margin-bottom: 20px;

    }

    .btnTitle {
        min-width: 43%;
    }

    .form-horizontal {
        width: 90%;
        margin: 0 auto;
    }

    .control-group {
        text-align: center;
        margin: 0 0 0 -175px;
    }

    .ld-border {
        width: 43%;
        margin-left: 1%;
    }

    #model {
        width: 200px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .btnModel {
        font-size: 14px;
        margin: 5px;
    }

    .btnModelImg {
        width: 32px;
        margin: 5px;
    }

    #sidebar {
        margin-bottom: 20px;

    }

}

@media (max-width: 620px) {

    .btnTitle {
        min-width: 56%;
    }

    .ld-border {
        width: 43%;
        min-width: 40%;
        margin-right: 0;
    }

    .qcer {
        margin-top: 0;
    }
    .col2 {
        width: 48%;
    }

    ul.nav-top-pad.nav {
        float: none;
        width: 92%;
    }

    div.pull-right.nav-closed {
        float: none;
        width: 92%;
    }

    .navbar-inverse .nav-collapse .dropdown-menu {
        width: 40%;
        margin-left: 58%;
    }

    .btnContent {
        width: 130px;
        font-size: 12px;
        line-height: 12px;
    }
    .formLabel {
        float: none;
        width: 100%;
        text-align: left;
    }

    .formInput, .formCheck {
        text-align: left;
        float: none;
        width: 100%;
    }
    .titleRight {
        float: none;
        text-align: center;
        margin: 10px 0;
        padding: 0;
        width: 95%;
    }

    .titleLeft {
        float: none;
        width: 95%;
        text-align: center;
        margin: 10px 0;
        padding: 0;
    }
    .titleQcer {
        margin:15px 0 10px 0;
    }

    input.titleLDInput {
        width: 95%;
    }

    .titleQcer .round {
        margin: 0 4px;
    }

    .titleScope {
        margin: 5px 0 0 0;
    }

    .col1 {
        width: 45%;
    }
    .col2 {
        width: 15%;
    }
    .col3 {
        width: 15%;
    }
    .col4 {
        width: 15%;
    }

    .ld-name-text {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

@media (max-width: 480px) {
    .formCheckLabel {
        float: none;
    }
    .formCheck {
        margin: 0;
        padding: 0;
    }
    .btnTitle h3 {
        font-size: 20px;
    }



    .headerTable {
        text-indent: -9999px;
        height: 5px;

    }

    .headerTable .colTable {
        display: none;
    }

    .rowLink {
    }

    .control-group {
        margin: 0;
    }

    #signUpHeader {
        width: 85%;
    }

    label {
        margin: 0 auto;
        width: 85%;
    }

    .ld-border {
        width: 92%;
    }

    .btnContent {
        width: 60px;
        font-size: 0;

    }

    .btnImage {
        margin: 0;
        padding: 0;
        width: 24px;
    }



    .actBox {
        text-overflow: ellipsis;
    }

    .actName {
        font-size: 10px;
    }

    .ldBox, .actBox {
        width: 19%;
    }

    .groupBox3 .actBox, .groupBox3 .ldBox {
        width: 24%;
    }

    .groupBox2 .actBox, .groupBox2 .ldBox {
        width: 34%;
    }
}

@media (max-width: 290px) {
    #model {
        width: 85%;
    }

    .btnModel {
        font-size: 12px;
        line-height: 14px;
        margin-top: 0;
    }

    .btnModelImg {
        width: 32px;
        margin: 3px;
    }
}

@media (max-height: 500px) {

    .modal-body {
        height: 300px;
    }
}










