/* ==================
 LEDITA Style Sheet
=====================
Swatch colors:
0099CC = light blue
FF0000 = red
F5F4ED = light grey
666666 = grey
ACE500 = green
=================== */

/* resets and overrides
===================== */
* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

/* body & type
===================== */
body {
    padding: 60px 0 40px;
    background-color: #F5F4ED;
    font: 14px 'Raleway', sans-serif;
    line-height: 22px;
    color: #666666;
    background-image: url("../img/cream_dust.png");
}

h1, h2, h3, h4 {
    font-family: 'Cabin Sketch', cursive;

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 -1px 1px rgba(155, 155, 155, 0.75);
}

.whiteText, .whiteText a{
    color: #FFFFFF;
}

.whiteText a {
    text-decoration: underline;
}

.homeHeader {
    text-shadow: 0 -2px 2px #FFFFFF, 0 2px 2px #CCCCCC;
    text-align: center;
    font-family: Allan, sans-serif;
    font-style: italic ;
    font-size: 32px;

}

.centered {
    text-align: center;
}

/* main layout
===================== */

/* navbar
===================== */
.navbar-inverse .navbar-inner {
    background: url('../img/header.jpg') repeat-x;
    border: none;
}

.navbar .nav-top-pad {
    margin: 5px 0 0 0;
}

.btn-menu {
    width: 180px;
    height: 45px;
    margin: 0 0 0 22px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 -1px 1px #999999, 0 1px 1px #CCCCCC;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    /*    box-shadow: 0 1px 2px rgba(255,255,255, 0.65), 0 -2px 2px #CCCCCC; */
    border: none;
    border-right: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    background-image: none;
    background-color: transparent;
}

.btn-menu:hover {
    color: #FF0000;
    background-color: #FFFFFF;
    text-shadow: 0 -1px 1px #FFFFFF, 0 1px 1px #CCCCCC;
    box-shadow: 0 -1px 2px rgba(255,255,255, 0.65), 0 2px 2px #CCCCCC;

}
.navbar .nav > li {
    margin-right: 5px;
    margin-left: 5px;
}

.navbar-form {
    margin-top: 10px;
}

.nav .dropdown-toggle .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.nav-username {
    margin-top: 22px;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #999999;
    display: inline;
}

.nav-closed:hover .nav-username {
    color: #0099CC;
    text-shadow: 0 -1px 1px #FFFFFF, 0 1px 1px #CCCCCC;

}

.nav-closed:hover .user-pic {
    border-color: #0099CC;
}

.nav-closed:hover .caret {
    border-top-color: #0099CC;
    border-bottom-color: #0099CC;
}

.caret {
    border-top-color: #0099CC;
}

.nav-closed {
    margin: 10px 10px 0 0 ;

}

#userActionsMenu:hover {
    text-decoration: none;
}


.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
    background-color: transparent;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.user-pic {
    border: 2px solid #FFFFFF;
    margin-top:-2px;
}

/* login form
===================== */

#loginError {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #FF0000;
    text-shadow: 0 1px 1px rgba(155, 155, 155, 0.65);

    margin: 10px;
}

#loginButton {
    background: #0099CC none;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(155, 155, 155, 0.65);
}

#pwRec a {
    text-align: right;
    padding-right: 75px;
    display: block;
    font-size: 12px ;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(155, 155, 155, 0.65), 0 -1px 1px rgba(155, 155, 155, 0.75) ;
}

#pwRec a:hover {
    color: #0099CC;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1), 0 -1px 1px rgba(255, 255, 255, 0.65);
}

#loggedInUserName {
    font-weight: bold;
}

.dropdown-menu {
    border: 3px solid #FFFFFF;
}

.dropdown-menu > li > a:hover {
    background-color: #0099CC;
    background-image: none;
}

.dropdown-menu > li > a {
    color: #666666;
}


/* registration form
===================== */
.form-horizontal {
    background-image: url("../img/signup.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin: 30px 0 0 0;
}

.login-border  {
}

#signUpHeader {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 -2px 1px rgba(155, 155, 155, 0.75);
    border: none;
    text-align: center;
    padding-top: 30px;
    margin: 0 auto 15px auto;
}
.btn-signup {
    color: #0099cc;
    font-weight: bold;
    background-color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.75), 0 1px 1px rgba(155, 155, 155, 0.75);
    margin: -30px auto 0 auto;
}
.btn-signup:hover,
.btn-signup:active,
.btn-signup.active,
.btn-signup.disabled,
.btn-signup[disabled] {
    color: #FF0000;
}

.form-horizontal .form-actions {
    padding-left: 0;
}

.form-actions {
    border: none;
    margin: 0;
    padding: 20px 0 40px 0;
    text-align: center;
}

.control-group {
    margin: 0 0 0 -128px;
    padding: 0;
    width: 100%;
}

.controls {
    margin: -20px 0 0 0;
    padding: 0;
    width: 100%;
}

#registrationErrors {
    width: 65%;
    margin: 0 auto 10px auto;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #FF0000;
    text-align: center;
}

/* form elements
===================== */
.input-xlarge {
    width: 80%;
}

legend {
    font-size: 24px;
}

input[type="checkbox"] {
    margin: 0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.errorTip {
    font: bold 11px helvetica, arial, sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: #FF0000;
    padding: 3px;
}
/* misc
===================== */
.top-margin {
    margin-top: 20px;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.user-avatar {
    border: 2px solid #FFFFFF;
    margin-top: -3px;
}

.caret {
    border-top-color: #FFFFFF;
    border-bottom-color:#FFFFFF;
}
/* LDs view
===================== */

.ld-grid {
    margin-left: 0;
}

.ld-border {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 2px solid #FFFFFF;
    padding: 5px 10px 5px 10px;
    margin: 0 1% 20px auto;
    background-color: #0099CC;
    width: 22%;
    min-width: 200px;
    float: left;
    color: #FFFFFF;
    height: 140px;
}
.ld-top {
    height: 25px;
    border-bottom: 1px solid #FFFFFF;
}

.ld-center {
    height: 80px;
}

.ld-bottom {
}


.ld-name-text {
    font-size: 22px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.ld-name-text a {
    color: #FFFFFF;
}

.ld-name-text a:hover {
    text-decoration: none;
    text-shadow: 0 -2px 2px #666666, 0 2px 2px #F5F4ED;

}

/* Responsive Rules
================ */

@media (min-width: 700px) and (max-width: 1200px) {
    .control-group {
        margin: 0 0 0 -140px;
    }

    .ld-border {
        width: 20%;
    }

    .ld-name-text {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }

    .btn-menu {
        width: 130px;
        margin: 0 0 0 8px;
    }
}

@media (max-width: 979px) {
    body {
        padding: 0;
        margin: 0;
    }
    .ld-border {
        width: 28%;
        margin-left: 1%;
    }
    .navbar .brand {
        margin: 0;
        padding: 5px 5px 5px 30px;
    }

    .navbar-inverse .btn-navbar:hover {
        background-color: #0099CC;
    }

    .navbar-inverse .btn-navbar{
        background-color: #0099CC;
        background-image: none;
        margin: 10px 30px;
    }

    .navbar-inverse .nav-collapse .navbar-form {
        border-color: #FFFFFF;
        background-color: #0099CC;
        margin: 0;
    }

    input[class*="span"] {
        width: 90%;
        margin: 10px auto;
    }

    #loginButton {
        background-color: #FFFFFF;
        color: #0099CC;
        margin: 0 0 0 75%;
    }

    #loginButton:hover {
        color: #FF0000;
    }

    #pwRec a {
        display: inline;
        float: left;
        margin: -3% 0 0 5%;
    }

    #pwRec a:hover {
        color: #FFFFFF;
        text-decoration: underline;
        text-shadow: none;
    }


    p {
        padding: 0 20px;
    }

    .login-border {
        margin: 0 auto;
    }

    .top-margin {
        margin-top: 0px;
    }

    .control-group {
        margin: 0 0 0 -150px;
    }

    label {
        font-size: 12px;

    }

    .nav-collapse {
        background-color: #0099CC;
        margin: 2px 0 0 0;
        border: none;
    }

    .btn-menu {
        width: 100%;
        margin-bottom: 15px;
    }

    ul.nav-top-pad.nav {
        float: left;
        width: 60%;
    }

    div.pull-right.nav-closed {
        float: right;
        width: 35%;
        text-align: right;
    }

    .navbar-inverse .nav-collapse .dropdown-menu {
        background-color: #FFFFFF;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border: 2px solid #FFFFFF;
        margin-top: 5px;

    }


    .navbar-inverse .nav-collapse .dropdown-menu a{
        color: #666666;
        font-weight: normal;

    }


    .navbar-inverse .nav-collapse .dropdown-menu > li > a:hover{
       background-color: #0099CC;
        color: #FFFFFF;
    }

    .nav-closed:hover .nav-username {
        color: #FFFFFF;
    text-shadow: none;
        text-decoration: underline;
    }

    .nav-closed:hover .user-pic {
        border-color: #FFFFFF;
    }
}

@media (max-width: 767px) {
    .form-horizontal {
        width: 90%;
        margin: 0 auto;
    }

    .control-group {
        text-align: center;
        margin: 0 0 0 -175px;
    }

    .ld-border {
        width: 44%;
        margin-left: 1%;
    }
}

@media (max-width: 620px) {
    .ld-border {
        width: 43%;
    }

    ul.nav-top-pad.nav {
        float: none;
        width: 92%;
    }

    div.pull-right.nav-closed {
        float: none;
        width: 92%;
    }
    .navbar-inverse .nav-collapse .dropdown-menu {
        width: 40%;
        margin-left: 58%;
    }


    }

@media (max-width: 480px){
    .control-group {
        margin: 0;
    }

    #signUpHeader {
        width: 85%;
    }

    label {
        margin:0 auto;
        width: 85%;
    }
    .ld-border {
        width: 90%;
    }

}









