<div class="container top-margin">
    <div class="row-fluid">
        <div id="sidebar" class="span3">
            <h4 class="red centered">General Info</h4>
            <!--
              <div id="ldName">
                  <a href="#"><span class="float-right icon-white icon-star-empty"></span> </a>
                  <h4>Learning Design Title Demo 25</h4>
              </div>
              <div id="langLev">
                  <span class="langLev langLevSel">A1</span>
                  <span class="langLev">A2</span>
                  <span class="langLev">B1</span>
                  <span class="langLev">B2</span>
                  <span class="langLev">C1</span>
                  <span class="langLev">C2</span>
              </div>
            -->
            <div>
                <h5 class="float-left zeroMargin ">Author:</h5>
                <a href="#" class="float-right">firstname lastname</a>
            </div>
            <div class="clear"><h5 class="float-left zeroMargin">Subject:</h5>

                <form ng-submit="addSubject()">
                    <input type="text" class="sidebarInput" ng-model="subject" placeholder="add new subject">
                    <input class="btn-sidebar" type="submit" value="+">
                </form>

            </div>
            <div class="clear"><h5 class="float-left zeroMargin">Objectives:</h5>

                <form ng-submit="addObjectives()">
                    <input type="text" class="sidebarInput" ng-model="objectives" placeholder="add new subject">
                    <input class="btn-sidebar" type="submit" value="+">
                </form>
            </div>
            <div class="clear"><h5 class="float-left zeroMargin">Pre-Requisites:</h5>

                <form ng-submit="addRequisites()">
                    <input type="text" class="sidebarInput" ng-model="requisites" placeholder="add new subject">
                    <input class="btn-sidebar" type="submit" value="+">
                </form>
            </div>
            <div class="clear">
                <h5 class="zeroMargin">Students' Description:</h5>
                <textarea class="textarea">write here...</textarea>
            </div>
            <div class="clear"><h5 class="float-left zeroMargin">Tags:</h5>

                <form ng-submit="addTags()">
                    <input type="text" class="sidebarInput" ng-model="tags" placeholder="add new tag">
                    <input class="btn-sidebar" type="submit" value="+">
                </form>
                <ul>
                    <li ng-repeat="tag in tags">{{ tag }}</li>
                </ul>
            </div>
            <div class="clear"><h5 class="float-left zeroMargin">Related Designs:</h5>
            </div>

            <!--Sidebar content-->
        </div>
        <div id="content" class="span9">
            <!--Body content-->
        </div>
    </div>
</div>