<div class="container top-margin">
    <div class="row-fluid">

        <div class="top-margin zero">
            <div class="span3">
                <div id="searchBox">
                    <h4 id="searchBoxHeader">Find Users</h4>
                    <div class="searchBoxDiv">
                        <i class="icon-filter"></i> <input type="search" class="searchBoxInput" ng-model="search" placeholder="filter users..." />

                    </div>

                </div>

            </div>
            <div class="span9">
                <div class="userTable">
                    <div class="headerUserTable">

                        <div class="colTable colUser0">
                            <p>&nbsp;</p>
                        </div>
                        <div class="colTable colUser1">
                            <p>First Name</p>
                        </div>
                        <div class="colTable colUser2">
                            <p>Last Name</p>
                        </div>

                        <div class="colTable colUser3">
                            <p>Workplace</p>
                        </div>
                        <div class="colTable colUser4">
                            <p>City</p>
                        </div>
                        <div class="colTable colUser5">
                            <p>Country</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="rowTable" ng-repeat="profile in uniqueUsers | filter:search">
                        <div class="rowUserLink">
                            <a ng-href="/user/{{ profile.user_id }}">


                                <div class="colTable colUser0">
                                    <img ng-src="../img/pics/user{{ profile.user_id }}.png" class="user-pic">
                                </div>
                                <div class="colTable colUser1">
                                    <p>{{ profile.user_name }}</p>
                                </div>
                                <div class="colTable colUser2">
                                    <p>{{ profile.last_name }}</p>
                                </div>

                               <div class="colTable colUser3">
                                    <p>{{ profile.workplace }}</p>
                                </div>
                               <div class="colTable colUser4">
                                    <p>{{ profile.city }}</p>
                                </div>
                               <div class="colTable colUser5">
                                    <p>{{ profile.country }}</p>
                                </div>
                               </a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>