<div id="ldlist" class="row top-margin zeroLeft">

  <!-- LD BOX START -->
  <div ng-repeat="learningDesign in learningDesigns | orderBy:'ld_last_edit_date':true" class="ld-border ld-item">
    <div class="ld-top">
      A1<a ng-href="#/ld/{{learningDesign.ld_id}}" class="float-right"><i class="icon-star-empty icon-white"></i></a>
    </div>
    <div class="ld-center text-center">
      <h4 class="ld-name-text"><a ng-href="ld/{{ learningDesign.ld_id }}" >{{ learningDesign.ld_name }}</a></h4>
    </div>
    <div class="ld-bottom">
      {{ learningDesign.ld_scope }}<span class="float-right">   {{ learningDesign.user_name }}&nbsp;{{ learningDesign.user_last_name }}
   </span>
    </div>
   </div>
  <!-- LD BOX END -->

</div><!-- row -->

</div>