<div class="container top-margin">
<div class="row-fluid">
<div class="span3">
    <div id="sidebar">
        <!--
         <div>
            FIXME: add link for like function
            <a ng-href="#">
                <!-- TODO: IF liked -> class likedButton, ELSE class likeButton
                <div class="likeButton">
                    <!-- TODO: Like button. If the LD is already liked, add class 'icon-white'.
                    Like <i class="icon-thumbs-up "></i>
                </div>
            </a>
        </div>
        -->
        <h4 id="sidebarHeader">General Info</h4>

        <div>
            <h5 class="zeroMargin date"><i class="icon-pencil"></i> Author:</h5>
            <!-- FIXME: add dynamic link to author profile page -->
            <a ng-href="/user/{{ learningDesign.user_id }}" class="zeroMargin">{{ learningDesign.user_name}} {{ learningDesign.user_last_name}}</a>
        </div>
        <div class="marginTopSidebar">
            <h5 class="zeroMargin date "><i class="icon-calendar"></i> Created in:</h5>
            <span class="zeroMargin">{{learningDesign.ld_creation_date | date:'yyyy-MM-dd'}}</span>
        </div>
        <div class="clear marginTopSidebar"><h5 class="zeroMargin"><i class="icon-map-marker"></i> Topics:</h5>
            <ul ng-repeat="subject in learningDesign.subjects" class="zeroMargin subjects">
                <!-- FIXME: add dynamic link to  LDs page with subject.subject_name as filter -->
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">{{subject.subject_name}}</a></li>
            </ul>
        </div>
        <div class="clear marginTopSidebar"><h5 class="zeroMargin"><i class="icon-screenshot"></i> Objectives:</h5>
            <ul ng-repeat="objective in learningDesign.objectives" class="zeroMargin objectives">
                <!-- FIXME: add dynamic link to  LDs page with objective.objective_descr as filter -->
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">{{objective.objective_descr}}</a>
                </li>
            </ul>
        </div>
        <div class="clear marginTopSidebar"><h5 class="zeroMargin"><i class="icon-backward"></i> Pre-Requisites:</h5>
            <ul ng-repeat="prereq in learningDesign.prerequisites" class="zeroMargin prerequisites">
                <!-- FIXME: add dynamic link to  LDs page with prereq.prereq_name as filter -->
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">{{prereq.prereq_name}}</a>
                </li>
            </ul>
        </div>
        <div class="clear marginTopSidebar">
            <h5 class="zeroMargin"><i class="icon-user"></i> Students' Description:</h5>
            <span>{{ learningDesign.ld_students_profile }}</span>
        </div>
        <!-- TODO: 2nd phase - Tag system -->
        <!--
        <div class="clear marginTop"><h5 class=" zeroMargin">Tags:</h5>
            <ul class="zeroMargin">
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item n. 1</a></li>
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item n. 2</a></li>
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item number 3</a></li>
            </ul>
        </div>
        -->
        <!-- TODO: 1st phase - Service for name of father and children LDs
        <div class="clear marginTopSidebar"><h5 class="zeroMargin"><i class="icon-retweet"></i> Related Designs:</h5>
            <ul class="zeroMargin">
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item n. 1</a></li>
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item n. 2</a></li>
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item number 3</a></li>
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item n. 1</a></li>
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item n. 2</a></li>
                <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item number 3</a></li>
            </ul>
        </div>
        -->
        <div class="clearfix"></div>
        <div id="model">
            <!-- FIXME: add a dynamic link to use the LD as a model -->
            <a href="#">
                <img src="../../img/model.png" class="btnModelImg">
                <h5 class="btnModel">USE THIS DESIGN AS A MODEL</h5>
            </a>
        </div>
        <div ng-show=" learningDesign.user_id  ==  ">
            <a ng-href="/ldedit/{{learningDesign.ld_id}}">
                <h4 class="editingMode">Edit this design</h4>
            </a>
        </div>
        <!--Sidebar content-->
    </div>
</div>
<div id="content" class="span9">
<tabset type="pills">
<div id="contentButtons">
    <tab-heading>
        <button id="globalTab" class="btnContent" ng-class="isBtnActive(data.static1)" ng-click="data.static1 = true">
            <img
                    src="../../img/board.png" class="btnImage"> Global View
        </button>
    </tab-heading>
    <tab-heading>
        <button id="textualTab" class="btnContent" ng-class="isBtnActive(data.static2)" ng-click="data.static2 = true">
            <img
                    src="../../img/text.png"
                    class="btnImage"> Textual View
        </button>
    </tab-heading>

</div>


<div id="contentBody">
    <div id="contentHeader">
        <div class="titleLDBox" >
            <label class="editLabel"><i class="icon-book icon-white"></i> Design name:</label>
            <h4 class="titleLD">{{learningDesign.ld_name }}</h4>
        </div>
        <div >
           <div class="titleQcer" ng-show="learningDesign.qcers">
               <label class="editLabel"><i class="icon-tasks icon-white"></i> QCER Levels:</label>
                   <span ng-repeat="qcer in learningDesign.qcers" class="round qceritem ">{{ qcer.qcer_name }}</span></div>
            <div class="titleScope">
                <label class="editLabel"><i class="icon-bell icon-white"></i> Scope:</label>
        <span class="titleScopeName">{{learningDesign.ld_scope }}</span></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<tab active="data.static1">
    <div class="tabContent">

        <!-- BEGIN DYNAMIC ACTIVITY CONTENT (Global View) -->
        <div ng-repeat="(level, nodes) in levels" class="levelBox">
            <div ng-repeat="node in nodes" ng-class="getBoxClass(node)" id="node">
                <!-- If it's a group:  -->
                <div ng-show="node.children" class="groupName">{{ node.node_name }}</div>
                <div class="clearfix"></div>
                <!-- Children are also in levels: Create unstyled div for each level -->
                <div ng-repeat="(childLevel, subChildren) in node.children" class="levelBoxChild">
                    <div ng-repeat="child in subChildren" ng-class="getGroupBoxClass(child)">
                        <a class="whiteText childModalLink" ng-click="open(child)"><h6 class="actName">{{
                            child.group_child_name }}</h6>

                            <div class="actLabel" ng-show="child.group_child_type!='LD'">
                                <span class="timeLabel"><i class="icon-time icon-white"></i> {{ child | durationDisplay}} <span
                                        ng-show="!(child | durationDisplay)"> Free</span></span>
                                <span class="orgLabel"><i
                                        class="icon-th-large icon-white"></i> {{ child.org_label}}</span>
                            </div>
                            <div class="actLabel" ng-show="child.group_child_type=='LD'">
                                 <span class="orgLabel"><i class="icon-tasks icon-white"
                                                           ng-show="child.qcers"></i> <span
                                         ng-repeat="qcer in child.qcers">{{ qcer.qcer_name }} </span></span><span class="timeLabel"><i class="icon-bell icon-white"></i> {{ child.scope}}</span>

                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Children -->
                <!-- If it's NOT a group:  -->
                <div ng-show="!node.children" class="actName"><a class="whiteText" ng-click="open(node)">
                    <h6>{{ node.node_name }}</h6>

                   <div class="actLabel" ng-show="node.type!='LD'">
                            <span class="timeLabel"><i
                                    class="icon-time icon-white"></i> {{ node | durationDisplay }} <span
                                    ng-show="!(node | durationDisplay)"> Free</span> </span>
                        <span class="orgLabel"><i class="icon-th-large icon-white"></i> {{ node.org_label }}</span>
                    </div>
                    <div class="actLabel" ng-show="node.type=='LD'">
                            <span class="orgLabel"><i class="icon-tasks icon-white" ng-show="node.qcers"></i> <span
                                    ng-repeat="qcer in node.qcers"> {{ qcer.qcer_name }} </span></span>
                        <span class="timeLabel"><i class="icon-bell icon-white"></i> {{ node.scope }}</span>

                    </div>

                </a>
                </div>
            </div>
            <!-- End Activity or Group Box -->
        </div>
        <div id="activityErrors" ng-show="alertMsg" class="alert alert-warning">
            {{ alertMsg }}
        </div>

        <!-- End Level Box -->
        <!-- END DYNAMIC ACTIVITY CONTENT (Global View) -->


        <!-- BEGIN DYNAMIC ACTIVITY CONTENT (Modal View) -->
        <div id="modalView" modal="shouldBeOpen" close="close()" options="opts">
            <div class="modal-header">
                <h4>Activity Details</h4>
                <button id="activityModalClose" class="btn modalButton float-right" ng-click="close()">x</button>
                <div class="clearfix"></div>
            </div>

            <div class="modal-body">

                <!-- If it's a group:  -->

                    <div ng-show="selectedNode.group_child_id" class="groupBoxText">
                    <h4 class="groupNameText"> {{ selectedNode.group_name }} </h4>

                    <div class="clearfix"></div>
                    <!-- Children in groups are organized by level, create unstyled div for each level -->
                    <div>
                        <div>
                            <h5 class="nodeNameText">{{ selectedNode.displayName }}</h5>
                                 <span ng-show="selectedNode.group_child_type!='LD'">
                                    <activitydetail showped="true" node="selectedNode"></activitydetail>
                                 </span>
                                <span ng-show="selectedNode.group_child_type=='LD'">
                                    <lddetail node='selectedNode'></lddetail>
                                </span>
                        </div>
                    </div>
                </div>
                <!-- End Children -->
                <!-- If it's NOT a group:  -->
                <div ng-show="!selectedNode.group_child_id"><h5 class="nodeNameText">{{ selectedNode.displayName }}</h5>
                        <span ng-show="selectedNode.type!='LD'">
                            <activitydetail showped="true" node="selectedNode"></activitydetail>
                        </span>
                                <span ng-show="selectedNode.type=='LD'">
                                    <lddetail node='selectedNode'></lddetail>
                                </span>
                </div>
                <!-- End Activity or Group Box -->
                <div id="activityErrors" ng-show="alertMsg" class="alert alert-warning">
                    {{ alertMsg }}
                </div>
                <!-- End Level Box -->
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- END DYNAMIC ACTIVITY CONTENT (Modal)-->

        <div class="clearfix"></div>
    </div>

</tab>
<tab active="data.static2">

    <div class="tabContent">
        <!-- BEGIN DYNAMIC ACTIVITY CONTENT (Teacher View) -->
        <div ng-repeat="(level, nodes) in levels" class="teacherLevel">
            <div ng-repeat="node in nodes" class="nodeText">
                <!-- If it's a group:  -->
                <div ng-show="node.children" class="groupBoxText">
                    <h4 class="groupNameText"> {{ node.node_name }} </h4>

                    <div class="clearfix"></div>
                    <!-- Children in groups are organized by level, create unstyled div for each level -->
                    <div ng-repeat="(childLevel, subChildren) in node.children">
                        <div ng-repeat="child in subChildren">
                            <h5 class="nodeNameText">{{ child.group_child_name }}</h5>
                                 <span ng-show="child.group_child_type!='LD'">
                                    <activitydetail showped="true" node="child"></activitydetail>
                                 </span>
                                <span ng-show="child.group_child_type=='LD'">
                                    <lddetail node='child'></lddetail>
                                </span>
                        </div>
                    </div>
                </div>
                <!-- End Children -->
                <!-- If it's NOT a group:  -->
                <div ng-show="!node.children"><h5 class="nodeNameText">{{ node.node_name }}</h5>
                        <span ng-show="node.type!='LD'">
                            <activitydetail showped="true" node="node"></activitydetail>
                        </span>
                                <span ng-show="node.type=='LD'">
                                    <lddetail node='node'></lddetail>
                                </span>
                </div>
            </div>
            <!-- End Activity or Group Box -->
        </div>
        <div id="activityErrors" ng-show="alertMsg" class="alert alert-warning">
            {{ alertMsg }}
        </div>

        <!-- End Level Box -->
        <!-- END DYNAMIC ACTIVITY CONTENT (Teacher View) -->
        <div class="clearfix"></div>
    </div>

</tab>
</tabset>
</div>
</div>
<!--Body content-->
</div>
</div>
</div>
