<div class="container top-margin">
<div class="row-fluid">
<div class="span3">
    <div id="sidebar">
        <!--
        <div>
            <a ng-href="#">
                <!-- TODO: IF liked -> class likedButton, ELSE class likeButton

                <div class="likeButton">
                    <!-- TODO: Like button. If the LD is already liked, add class 'icon-white'.
                    Like <i class="icon-thumbs-up "></i>
                </div>
            </a>
        </div>
        -->
        <h4 id="sidebarHeader">Informazioni</h4>

        <div>
            <h5 class="zeroMargin date"><i class="icon-pencil"></i> Autore:</h5>
            <span class="zeroMargin"> <a href="#">{{ learningDesign.user_name}} {{
                learningDesign.user_last_name}}</a></span>
        </div>
        <div class="marginTopSidebar">
            <h5 class="zeroMargin date "><i class="icon-calendar"></i> Creato il:</h5>
            <span class="zeroMargin">{{learningDesign.ld_creation_date | date:'d-M-yyyy'}}</span>
        </div>

        <!-- Topics -->
        <div id="editTopics" class="clear marginTopSidebar">
            <!-- INSERT INTO H5 BELOW TO ADD TOPICS TOOLTIP
            tooltip="Scrivi uno o più argomenti del progetto, ad esempio: articoli, presentarsi, i saluti, ecc. Per inserirli, premi dopo ogni argomento 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="top"
            -->
            <h5 class="zeroMargin" ><i class="icon-map-marker"></i> Argomenti:</h5>

            <form novalidate class="sidebarForm" name="LdTopicForm">
                <div class="errorBoxSidebar">
                    <span id="topicPatternErr" class="errorTipSidebar" ng-show="LdTopicForm.ldTopic.$error.pattern">Simbolo non permesso.</span>
                    <span id="topicLengthErr" class="errorTipSidebar" ng-show="LdTopicForm.ldTopic.$error.maxlength">)Massimo 255 caratteri.</span>
                    <span class="clearfix"></span>
                </div>
                <input class="sidebarInputMultiple" type="text" ng-model="ldTopic" name="ldTopic"
                       typeahead="suggestion for suggestion in getSubjects($viewValue)"
                       typeahead-on-select="addTopic()"
                       ui-keypress="{13:'addTopic()'}"
                       required ng-maxlength="255"
                       ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">

                <span id="addTopicIcon" class="editButton" ng-click="addTopic()" tooltip="Clicca qui per aggiungere un argomento." tooltip-trigger="mouseenter" tooltip-placement="right"><i
                        class="icon-plus icon-white"></i></span>
                <span class="multiValueSidebar">Puoi inserire più di un valore <i class="icon-question-sign"  tooltip="Scrivi uno o più argomenti del progetto, ad esempio: articoli, presentarsi, i saluti, ecc. Per inserirli, premi dopo ogni argomento 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="top"></i> </span>

                <div id="topicTagsEdit">
                    <ul ng-repeat="topic in selectedTopics" class="zeroMargin subjects">
                        <li class="sidebarEditItem">
	                	<span class="sidebarEditItemLink">{{topic}} 
	                	<a ng-click="removeTopic(topic)" class="hand" tooltip="Clicca qui per cancellare questo argomento." tooltip-trigger="mouseenter" tooltip-placement="right"><i class="icon-remove-circle" ></i> </a></span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <!-- Objectives -->
        <div id="editObjectives" class="clear marginTopSidebar">
            <!-- INSERT INTO H5 BELOW TO ADD TOPICS TOOLTIP
          tooltip="Scrivi uno o più obiettivi didattici del progetto, ad esempio: gli articoli determinativi, salutare formalmente, presentare un amico, ecc. Per inserirli, premi dopo ogni obiettivo 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="top"
          -->
           <h5 class="zeroMargin" ><i class="icon-screenshot"></i> Obiettivi:</h5>

           <form novalidate class="sidebarForm" name="LdObjectiveForm">
               <div class="errorBoxSidebar">
                 <span id="objectivePatternErr" class="errorTipSidebar"
                         ng-show="LdObjectiveForm.ldObjective.$error.pattern">Simbolo non permesso.</span>
                   <span id="objectiveLengthErr" class="errorTipSidebar"
                         ng-show="LdObjectiveForm.ldObjective.$error.maxlength">Massimo 255 caratteri.</span>
                   <span class="clearfix"></span>
               </div>
               <input class="sidebarInputMultiple" type="text" ng-model="ldObjective" name="ldObjective"
                      typeahead="suggestion for suggestion in getObjectives($viewValue)"
                      typeahead-on-select="addObjective()"
                      ui-keypress="{13:'addObjective()'}"
                      required ng-maxlength="255"
                      ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
               <span id="addObjectiveIcon" class="editButton" ng-click="addObjective()" tooltip="Clicca qui per aggiungere un obiettivo." tooltip-trigger="mouseenter" tooltip-placement="right"><i
                       class="icon-plus icon-white"></i> </span>
               <span class="multiValueSidebar">Puoi inserire più di un valore <i class="icon-question-sign"  tooltip="Scrivi uno o più obiettivi del progetto, ad esempio: articoli, presentarsi, i saluti, ecc. Per inserirli, premi dopo ogni argomento 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="top"></i> </span>

               <div id="objectiveTagsEdit">
                   <ul ng-repeat="objective in selectedObjectives" class="zeroMargin objectives">
                       <li class="sidebarEditItem">
                       <span class="sidebarEditItemLink">{{objective}}
                       <a ng-click="removeObjective(objective)" class="hand" tooltip="Clicca qui per cancellare questo obiettivo." tooltip-trigger="mouseenter" tooltip-placement="right"><i class="icon-remove-circle"></i></a></span>
                       </li>
                   </ul>
               </div>
           </form>
       </div>

       <!-- Prerequisites -->
        <div id="editPrerequisites" class="clear marginTopSidebar">
            <!-- INSERT INTO H5 BELOW TO ADD TOPICS TOOLTIP
    tooltip="Scrivi uno o più prerequisiti necessari per svolgere le attività del progetto, ad esempio: maschile e femminile dei nomi, registro formale e informale, verbi indicativo presente, ecc. Per inserirli, premi dopo ogni prerequisito 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="top"
    -->
        <h5 class="zeroMargin" ><i class="icon-backward"></i> Prerequisiti:</h5>

        <form novalidate class="sidebarForm" name="LdPrereqForm">
            <div class="errorBoxSidebar">
                <span id="prereqPatternErr" class="errorTipSidebar" ng-show="LdPrereqForm.ldRequisite.$error.pattern">Simbolo non permesso.</span>
                <span id="prereqLengthErr" class="errorTipSidebar"
                      ng-show="LdPrereqForm.ldRequisite.$error.maxlength">Massimo 255 caratteri.</span>
            </div>
            <input class="sidebarInputMultiple" type="text" ng-model="ldRequisite" name="ldRequisite"
                   typeahead="suggestion for suggestion in getObjectives($viewValue)"
                   typeahead-on-select="addPrerequisite()"
                   ui-keypress="{13:'addPrerequisite()'}"
                   required ng-maxlength="255"
                   ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
            <span id="addPrerequisiteIcon" class="editButton" ng-click="addPrerequisite()" tooltip="Clicca qui per aggiungere un prerequisito." tooltip-trigger="mouseenter" tooltip-placement="right"><i
                    class="icon-plus icon-white"></i> </span>
            <span class="multiValueSidebar">Puoi inserire più di un valore <i class="icon-question-sign"  tooltip="Scrivi uno o più prerequisiti del progetto, ad esempio: articoli, presentarsi, i saluti, ecc. Per inserirli, premi dopo ogni argomento 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="top"></i> </span>

            <div id="prerequisiteTagsEdit">
                <ul ng-repeat="prereq in selectedPrerequisites" class="zeroMargin prerequisites">
                    <li class="sidebarEditItem">
                    <span class="sidebarEditItemLink">{{prereq}}
                    <a ng-click="removePrerequisite(prereq)" class="hand" tooltip="Clicca qui per cancellare questo prerequisito." tooltip-trigger="mouseenter" tooltip-placement="right"><i class="icon-remove-circle"></i> </a></span>
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <!-- LD Students Description -->
        <div class="clear marginTopSidebar">
            <h5 class="zeroMargin" ><i class="icon-user"></i> Descrizione degli studenti: <i class="icon-question-sign" tooltip="Descrivi gli studenti e il contesto per al quale il progetto è destinato." tooltip-trigger="mouseenter" tooltip-placement="top"></i></h5>

            <form class="sidebarForm">
                <textarea
                        ng-model="learningDesign.ld_students_profile"
                        ui-Blur="updateStudentsDescr()"
                        class="sidebarTextarea"
                        rows="4">
                </textarea>
            </form>
        </div>

        <!-- TODO: 2nd phase - Tag system -->
        <!--

     <div class="clear marginTop"><h5 class=" zeroMargin">Tags:</h5>

         <ul class="zeroMargin">
             <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item n. 1</a></li>
             <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item n. 2</a></li>
             <li class="sidebarItem"><a ng-href="#" class="sidebarItemLink">item number 3</a></li>
         </ul>

     </div>

     -->

        <!-- TODO: 1st phase - Service for name of father and children LDs -->


        <div class="clearfix"></div>
        <div class="clear marginTopSidebar">

            <!-- LD Publication -->
            <h5 class="zeroMargin" ><i class="icon-bullhorn"></i> Pubblicazione: <i class="icon-question-sign" tooltip="Premi questo bottone per scegliere se rendere pubblico il tuo progetto o mantenerlo privato." tooltip-trigger="mouseenter" tooltip-placement="top"></i></h5>

            <div class="onoffswitch">
                <input type="checkbox"
                       ng-model="ldPublicationFlag"
                       ng-change="updateLdPublication()"
                       name="onoffswitch"
                       class="onoffswitch-checkbox"
                       id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
            <div class="clearfix"></div>
        </div>

        <div  >
            <a ng-href="/ld/{{learningDesign.ld_id}}">
                <h4 class="editingMode">Finisci modifica</h4>
            </a>
        </div>
        <!--Sidebar content-->

    </div>

</div>


<div id="content" class="span9">

<tabset type="pills">
<div id="contentButtons">
    <tab-heading>
        <button class="btnContent" ng-class="isBtnActive(data.static1)" ng-click="data.static1 = true"><img
                src="../../img/board.png" class="btnImage"> Vista globale
        </button>
    </tab-heading>
    <tab-heading>
        <button class="btnContent" ng-class="isBtnActive(data.static2)" ng-click="data.static2 = true"><img
                src="../../img/text.png"
                class="btnImage"> Vista testuale
        </button>
    </tab-heading>

</div>


<div id="contentBody">
    <div id="contentHeader">

        <!-- LD Name -->
        <div>
            <form name="LdName" novalidate="" class="singleForm">
                <div>
                    <label class="editLabel"><i class="icon-book icon-white" ></i> Nome del progetto: </label>
                    <input class="editInputName" type="text"
                           name="ldName"
                           ng-model="learningDesign.ld_name" required
                           ui-Blur="updateLdName()"
                           ng-maxlength="50"
                           ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                    <i class="icon-question-sign icon-white" tooltip="Scegli un titolo da dare all'intero progetto. Questo nome è quello che apparirà nella pagina principale di LEDITA." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                    <div class="errorBoxTab">
                        <span class="errorTipTab"
                              ng-show="(learningDesign.ld_name == '') || (LdName.ldName.$dirty && LdName.ldName.$error.required)">Necessario!</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.maxlength">Massimo 50 caratteri.</span>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <!-- LD Qcer -->
            <div class="titleQcer">
                <label class="editLabel"><i class="icon-tasks icon-white"></i> Livelli QCER: </label>
                <span ng-show="qcerError">{{ qcerError }}</span>
            	<span ng-repeat="qceropt in qceropts" class="qcerOptData">
                	<input type="checkbox"
                           ng-model="selectedQcers[qceropt.id]"
                           ng-change="updateQcer()"
                           name="qcer"> {{ qceropt.name }}
            	</span>
                <i class="icon-question-sign icon-white" tooltip="Scegli uno o più livelli del Quadro Comune Europeo. I livelli vanno dall'A1, principiante, al C2, avanzato." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
            </div>

            <!-- LD Scope -->
            <div class="titleScope">
                <form name="ScopeForm" novalidate="" class="singleForm">
                    <div id="scopeFormSection">
                        <label class="editLabel" ><i class="icon-bell icon-white"></i> Ambito: </label>
                        <input class="editInputScocpe" type="text" name="ldScope"
                               ng-model="learningDesign.ld_scope"
                               typeahead="suggestion for suggestion in getScopes($viewValue)"
                               ui-Blur="updateLdScope()"
                               required ng-maxlength="50"
                               ng-pattern="/^[a-zA-Z0-9.,:;... òàùèéì/'/-//@#*]+$/">
                        <i class="icon-question-sign icon-white"  tooltip="Scrivi qui la tipologia di progetto, indicando non la durata temporale in ore, minuti, ecc., ma l'ambito di applicazione. Per esempio: Unità Didattica, Lezione, Unità di Apprendimento, Modulo, Singola Attività o Semestre." tooltip-trigger="mouseenter" tooltip-placement="bottom"
                                ></i>
                        <div class="errorBoxTab">
                            <span class="errorTipTab"
                                  ng-show="(learningDesign.ld_scope == '') || (ScopeForm.ldScope.$dirty && ScopeForm.ldScope.$error.required)">Necessario!</span>
                            <span class="errorTipTab" ng-show="ScopeForm.ldScope.$error.pattern">Simbolo non permesso.</span>
                            <span class="errorTipTab" ng-show="ScopeForm.ldScope.$error.maxlength">Massimo 50 caratteri.</span>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>


<tab active="data.static1">


<div class="tabContent">
<div>
    <div id="updateErrors" ng-show="ldUpdateErrors" class="updateErrors">
        {{ ldUpdateErrors }}
    </div>
    <button id="createActivity" type="button" class="newActButton1" href ng-click="createActivity()" class="newActBox" tooltip="Premi questo bottone per aggiungere un'attività al progetto." tooltip-trigger="mouseenter" tooltip-placement="right">
        <i class="icon-plus icon-white"></i><br>Attività
    </button>

    <!-- Hide buttons to add LD or Group for test purposes
    <button id="addLD" type="button" class="newActButton2" href ng-click="addingLD()">
        <i class="icon-plus icon-white"></i><br>Progetto
    </button>
    <button id="createGroup" type="button" class="newActButton3" href ng-click="createGroup()">
        <i class="icon-plus icon-white"></i><br>Gruppo
    </button>
    -->

</div>

<!-- BEGIN DYNAMIC ACTIVITY CONTENT (Global View) -->
<div ng-repeat="(level, nodes) in levels" class="levelBoxEdit" >
    
    <!-- Level Drop Target -->
    <div id="level-{{level}}" class="lvl-target dropHorizontal dropWidth" 
    	x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)"></div>

    <!-- Every node is a Drag Source --> 
    <div id="{{node.node_id}}-{{node.type}}-{{node.level}}-{{node.position}}" ng-repeat="node in nodes"
         x-lvl-draggable="true" ng-class="getBoxEditClass(node)" >
        
        <!-- If it's a group:  -->
        <div ng-show="node.children" class="groupName" >{{ node.node_name }}</div>
        <div class="clearfix"></div>
        
        <!-- TODO: add drop directives - This drop zone always has position == 1 -->
        <div ng-show="node.children " class="leftGroupDrop" > 1</div>

        <!-- Children are also in levels: Create unstyled div for each level -->
        <div ng-repeat="(childLevel, subChildren) in node.children" class="levelBoxChildEdit" tooltip="Fai un click per vedere i dettagli dell'attività o clicca e trascina per spostare l'attività in un'altra posizione." tooltip-trigger="mouseenter" tooltip-placement="right">
            <!-- TODO: add drop directives -->
            <div class="dropHorizontal">Group Level {{childLevel}}</div>
            <div ng-repeat="child in subChildren" ng-class="getGroupEditBoxClass(child)">
                
                <!-- TODO: add drop directives -->
                <div class="leftActDrop">{{child.position}}</div>
                
                <a class="whiteText childModalLink " ng-click="open(child)"><h6 class="actNameEdit noClear">{{
                    child.group_child_name }}</h6>

                    <div class="separator"></div>
                    <div class="actLabelEdit" ng-show="child.group_child_type!='LD'">
                                <span class="timeLabel"><i class="icon-time icon-white"></i> {{ child | durationDisplay}} <span
                                        ng-show="!(child | durationDisplay)"> A scelta</span></span>
                                <span class="orgLabel"><i
                                        class="icon-th-large icon-white"></i> {{ child.org_label}}</span>
                    </div>
                    <div class="actLabelEdit" ng-show="child.group_child_type=='LD'">
                        <span class="timeLabel"><i class="icon-bell icon-white"></i> {{ child.scope}}</span>
                                    <span class="orgLabel"><i class="icon-signal icon-white"
                                                              ng-show="child.qcers"></i> <span
                                            ng-repeat="qcer in child.qcers"
                                            class="smallTextQCER">{{ qcer.qcer_name }} </span></span>
                    </div>
                </a>
                <div class="toolsEdit">
                    <a class="editEdit " ng-href="#"><i class="icon-edit icon-white"></i> </a>
                    <a class="deleteEdit " ng-href="#"><i class="icon-remove icon-white"></i> </a>
                </div>
            </div>
            
            <!-- TODO: add drop directives - make dynamic the 'child.position +1' -->
            <div class="rightActDrop">{{child.position}} +1</div>

            <!-- TODO: add drop directives - change '1' with a directive that show the maxChildLevel number -->
            <div ng-show="childLevel == 1" class="dropHorizontal ">Group Level {{childLevel}} + 1</div>
        </div>
        <!-- End Children -->
        
        <!-- If it's NOT a group:  -->
        <div ng-show="!node.children" class="actNameEditSingle" class="newActBox" tooltip="Fai un click per vedere i dettagli dell'attività o clicca e trascina per spostare l'attività in un'altra posizione." tooltip-trigger="mouseenter" tooltip-placement="right">
            
        	<!-- Left Position Drop Target -->
            <div id="levelPosition-{{level}}-{{node.position}}" class="lvl-target leftActDrop"
            	x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)"></div>
            
            <a class="whiteText" ng-click="open(node)">
                <h6 class="actNameEdit noClear">{{ node.node_name }}</h6>

                <div class="separator"></div>

                <div class="actLabelEdit" ng-show="node.type!='LD'">
                            <span class="timeLabel"><i
                                    class="icon-time icon-white"></i> {{ node | durationDisplay }} <span
                                    ng-show="!(node | durationDisplay)"> Free</span> </span>
                    <span class="orgLabel"><i class="icon-th-large icon-white"></i> {{ node.org_label }}</span>
                </div>
                <div class="actLabelEdit" ng-show="node.type=='LD'">
                    <span class="timeLabel"><i class="icon-bell icon-white"></i> {{ node.scope }}</span>
                            <span class="orgLabel"><i class="icon-signal icon-white" ng-show="node.qcers"></i> <span
                                    ng-repeat="qcer in node.qcers"
                                    class="smallTextQCER"> {{ qcer.qcer_name }} </span></span>
                </div>
            </a>

            <div class="toolsEdit">
                <a class="editEdit" ng-href="#"><i class="icon-edit icon-white"></i> </a>
                <a class="deleteEdit" ng-href="#"><i class="icon-remove icon-white"></i> </a>
            </div>

        </div>

    </div>
    
    <!-- Right Position Drop Target Plus One -->
    <div id="maxPosition-{{level}}" class="lvl-target rightActDrop" 
    	x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)"></div>
    <!-- End Activity or Group Box -->

</div>

<!-- Level Drop Target Plus One -->
<div id="maxLevel" class="lvl-target dropHorizontal dropWidth" 
	x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)"></div>

<div id="activityErrors" ng-show="alertMsg" class="alert alert-warning">
    {{ alertMsg }}
</div>

<!-- End Level Box -->
<!-- END DYNAMIC ACTIVITY CONTENT (Global View) -->


<!-- BEGIN DYNAMIC ACTIVITY CONTENT (Modal View) -->
<div id="modalView" modal="shouldBeOpen" close="close()" options="opts">
    <div class="modal-header">
        <h4>Dettagli dell'attività</h4>
        <button id="activityModalClose" class="btn modalButton float-right" ng-click="close()">x</button>
        <div class="clearfix"></div>
    </div>

    <div class="modal-body">

        <!-- If it's a group:  -->

        <div ng-show="selectedNode.group_child_id" class="groupBoxText">
            <h4 class="groupNameText"> {{ selectedNode.group_name }} </h4>

            <div class="clearfix"></div>
            <!-- Children in groups are organized by level, create unstyled div for each level -->
            <div>
                <div>
                    <h5 class="nodeNameText">{{ selectedNode.displayName }}</h5>
                                 <span ng-show="selectedNode.group_child_type!='LD'">
                                    <activitydetail showped="true" node="selectedNode"></activitydetail>
                                 </span>
                                <span ng-show="selectedNode.group_child_type=='LD'">
                                    <lddetail node='selectedNode'></lddetail>
                                </span>
                </div>
            </div>
        </div>
        <!-- End Children -->
        <!-- If it's NOT a group:  -->
        <div ng-show="!selectedNode.group_child_id"><h5 class="nodeNameText">{{ selectedNode.displayName }}</h5>
                        <span ng-show="selectedNode.type!='LD'">
                            <activitydetail showped="true" node="selectedNode"></activitydetail>
                        </span>
                                <span ng-show="selectedNode.type=='LD'">
                                    <lddetail node='selectedNode'></lddetail>
                                </span>
        </div>
        <!-- End Activity or Group Box -->
        <div id="activityErrors" ng-show="alertMsg" class="alert alert-warning">
            {{ alertMsg }}
        </div>
        <!-- End Level Box -->
    </div>
    <div class="modal-footer">
    </div>
</div>
<!-- END DYNAMIC ACTIVITY CONTENT (Modal)-->

<!-- BEGIN ADD RESOURCE (Modal View) -->
<div id="modalAddResource" modal="addResource" close="closeAddResource()" options="optsAddResource"
     class="modal-activity">
    <div class="modal-header">
        <h4>Aggiungi una risorsa</h4>

        <div class="clearfix"></div>
    </div>
    <div ng-controller="ActCreateCtrl">
        <form novalidate class="createLdForm" name="AddResourceForm" ng-submit="addResource()">
            <div class="modal-body">
                
								<!-- Resource Name -->
                <div class="formLevel">
                    <div class="errorBox">
                                    <span class="errorTipModal"
                                          ng-show="AddResourceForm.resourceName.$dirty && AddResourceForm.resourceName.$error.required">Necessario!</span>
                        <span class="errorTipModal" ng-show="AddResourceForm.resourceName.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipModal" ng-show="AddResourceForm.resourceName.$error.maxlength">Massimo 50 caratteri..</span>
                    </div>
                    <label class="formLabel"><i class="icon-ok"></i> Nome della risorsa*:</label>
                    <input class="formInput" type="text" name="resourceName" ng-model="resourceName" required
                           ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                    <span class="clearfix"></span>
                </div>

                <!-- Resource Type -->
                <div class="formLevel">
                    <div class="errorBox">
                                    <span class="errorTipModal"
                                          ng-show="AddResourceForm.resourceType.$dirty && AddResourceForm.resourceType.$error.required">Necessario!</span>
                        <span class="errorTipModal" ng-show="AddResourceForm.resourceType.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipModal" ng-show="AddResourceForm.resourceType.$error.maxlength">Massimo 50 caratteri..</span>
                    </div>
                    <label class="formLabel"><i class="icon-ok"></i> Tipo*:</label>
                    <input class="formInput" type="text" ng-model="resourceType" name="resourceType"
                           ng-maxlength="50"
                           ng-pattern="/^[a-zA-Z0-9.,:;... òàùèéì/'/-//@#*]+$/">
                </div>

               <!-- Resource Description -->
                <div class="formLevel">
                    <div class="errorBox">
                        <span class="errorTipModal" ng-show="AddResourceForm.resourceDescr.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipModal" ng-show="AddResourceForm.resourceDescr.$error.maxlength">Massimo 500 caratteri.</span>

                    </div>
                    <label class="formLabel"><i class="icon-ok"></i> Descrizione:</label>
                    <textarea class="formInput" name="resourceDescr" ng-model="resourceDescr" rows="6"
                              ng-maxlength="500" ng-pattern="/^[a-zA-Z0-9.,:;... òàùèéì/'/-//@#*]+$/"></textarea>
                    <span class="clearfix"></span>
                </div>

                <!-- Resource Link -->
                <div class="formLevel">
                    <div class="errorBox">
                        <span class="errorTipModal"
                              ng-show="AddResourceForm.resourceLink.$dirty && AddResourceForm.resourceLink.$error.url">Inserisci un url valido che inizi con http://</span>
                        <span class="errorTipModal" ng-show="AddResourceForm.resourceLink.$error.maxlength">Massimo 255 caratteri.</span>
                    </div>
                    <label class="formLabel"><i class="icon-ok"></i> Link:</label>
                    <input class="formInput" type="url" placeholder="inizia con http://" name="resourceLink" ng-model="resourceLink"
                           ng-maxlength="255">
                    <span class="clearfix"></span>
                </div>

            </div>
            <div class="modal-footer">
            	<a id="cancelAddResource" class="btn btnFormCancel" ng-click="closeAddResource()">Cancella</a>
                <button id="confirmAddResource" type="submit" class="btn btnForm " ng-disabled="AddResourceForm.$invalid">
                    Aggiungi questa risorsa
                </button>
            </div>
        </form>
    </div>
</div>
<!-- END ADD RESOURCE (Modal)-->


<!-- BEGIN ADD ACTIVITY CONTENT (Modal View) -->
<div id="modalAddActivity" modal="addActivity" close="closeAddActivity()" options="optsAddActivity"
     class="modal-activity">
    <div class="modal-header">
        <h4>Aggiungi una nuova attività</h4>

        <div class="clearfix"></div>
    </div>
    <div ng-controller="ActCreateCtrl">
        <form novalidate class="createLdForm" name="ActCreateForm" ng-submit="submitActivity()">
            <div class="modal-body">
                
            	<!-- Activity Name -->
                <div class="formLevel">
                    <div class="errorBox">
                        <span class="errorTipModal" ng-show="ActCreateForm.actName.$dirty && ActCreateForm.actName.$error.required">Necessario!</span>
                        <span class="errorTipModal" ng-show="ActCreateForm.actName.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipModal" ng-show="ActCreateForm.actName.$error.maxlength">Massimo 255 caratteri.</span>
                    </div>
                    <label class="formLabel"><i class="icon-file"></i> Nome dell'attività*: <i class="icon-question-sign" tooltip="Inserisci un nome come titolo dell'attività." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i></label>
                    <input class="formInput" type="text" name="actName" ng-model="actName" required
                           ng-maxlength="255" ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                    <span class="clearfix"></span>
                </div>

                <!-- Activity Modality -->
                <div class="formLevel">
                    <div class="errorBox"></div>
                    <label class="formLabel"><i class="icon-home"></i> Modalità*:   <i class="icon-question-sign" tooltip="Scegli se l'attività è svolta faccia a faccia, a distanza o in modalità mista, ovvero una parte presenzialmente e una parte online." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                    </label>
                    <div class="formInput">
                    		<!-- FIXME description & values should come from service rather than hard-coded -->
                        <span class="checkModality"><input type="radio" name="f2f" ng-model="modality" value="1"
                                                           required> Presenziale</span>
                        <span class="checkModality"><input type="radio" name="distance" ng-model="modality" value="2"
                                                           required> Online</span>
                        <span class="checkModality"><input type="radio" name="blended" ng-model="modality" value="3"
                                                           required> Mista </span>
                    </div>
                    <span class="clearfix"></span>
                </div>

                <!-- Activity Duration -->
                <div class="formLevel">
                    <div class="errorBox"></div>
                    <label class="formLabel formLabel"><i class="icon-time"></i> Durata:   <i class="icon-question-sign" tooltip="Scegli la durata dell'attività. Se non selezioni nessuna durata, la durata sarà libera." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                    </label>
                    <div class="formInput">
                        <span class="durationBox">
                                <input class="formInputDuration" type="number" name="dur_mon" ng-model="dur_mon"
                                       required
                                       min="0" max="60" maxlength="2" placeholder="0"> <span class="durationName">Mesi</span>
                        </span>
                        <span class="durationBox">
                                <input class="formInputDuration" type="number" name="dur_d" ng-model="dur_d"
                                       required
                                       min="0" max="30" maxlength="2" placeholder="0"> <span class="durationName">Giorni</span>
                        </span>
                        <span class="durationBox">
                                <input class="formInputDuration" type="number" name="dur_h" ng-model="dur_h"
                                       required
                                       min="0" max="23" maxlength="2" placeholder="0"> <span class="durationName">Ore</span>
                        </span>
                        <span class="durationBox">
                                <input class="formInputDuration" type="number" name="dur_min" ng-model="dur_min"
                                       required
                                       min="0" max="59" maxlength="2" placeholder="0"> <span class="durationName">Minuti</span>                        </span>
                    </div>
                    <span class="clearfix"></span>
                </div>

                <!-- Activity Organization -->
                <div class="formLevel">
                    <div class="errorBox">
                        <span class="errorTipModal" ng-show="LdCreateForm.ldScope.$dirty && LdCreateForm.ldScope.$error.required">Necessario!</span>
                        <span class="errorTipModal" ng-show="LdCreateForm.ldScope.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipModal" ng-show="LdCreateForm.ldScope.$error.maxlength">Massimo 50 caratteri.</span>
                        <span class="clearfix"></span>
                    </div>
                    <label class="formLabel"><i class="icon-th-large"></i> Organizzazione degli studenti*:   <i class="icon-question-sign " tooltip="Scegli come organizzare gli studenti: tutti insieme, in attività individuale, in coppie o in gruppi. I gruppi possono essere definiti o con il numero di gruppi, o con il numero di studenti per gruppo, o con il numero di gruppi e il numero di studenti per ogni gruppo ." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                    </label>
                    <div class="formInput">
                    		<!-- FIXME description and value should come from service rather than hard-coded -->
                        <span class="checkModality"><input type="radio" name="org_all" ng-model="org" value="1"
                                                           required> Classe    </span>
                        <span class="checkModality"><input type="radio" name="org_ind" ng-model="org" value="2"
                                                           required> Individuale</span>
                        <span class="checkModality"><input type="radio" name="org_pair" ng-model="org" value="3"
                                                           required> Coppie </span>
                        <span class="checkModality"><input type="radio" name="org_group" ng-model="org" value="4"
                                                           required> Gruppi </span>
                    </div>
                    <span class="clearfix"></span>

                    <!-- Activity Organization Group Additional Input -->
                    <div class="formInput" ng-show="org=='4'">
                  		<span class="orgGroupBox">
                                <input class="formInputDuration org" type="number" name="group_number"
                                       ng-model="group_number"
                                       required
                                       min="0" max="99" maxlength="2" placeholder="0"> N. di gruppi
                        </span>
                        <span class="orgGroupBox">
                                <input class="formInputDuration org" type="number" name="people_per_group"
                                       ng-model="people_per_group"
                                       required
                                       min="0" max="99" maxlength="2" placeholder="0"> Pers. per gruppo
                        </span>
                    </div>

                </div>

                <!-- Activity Technologies -->
                <div class="formLevel">
                    <div class="errorBox">
                        <span class="errorTipModal" ng-show="ActCreateForm.technology.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipModal" ng-show="ActCreateForm.technology.$error.maxlength">Massimo 50 caratteri.</span>
                        <span class="clearfix"></span>
                    </div>
                    <label class="formLabel"><i class="icon-facetime-video"></i> Tecnologie:</label>
                    <input class="formInputMultiple" type="text" ng-model="technology" name="technology"
                           typeahead="suggestion for suggestion in getTechnologies($viewValue)"
                           typeahead-on-select="addTechnologyFromSuggestion()"
                           ui-keypress="{13:'addTechnologyFromUserInput($event)'}"
                           placeholder="pc, lavagna, cd..." ng-maxlength="50"
                           ng-pattern="/^[a-zA-Z0-9.,:;... òàùèéì/'/-//@#*]+$/">
                    <span id="addTechnologyIcon" class="editButton" ng-click="addTechnologyFromUserInput($event)"><i
                            class="icon-plus icon-white" tooltip="Clicca qui o premi 'Invio' per aggiungere una tecnologia."></i></span>
                    <span class="multiValue">Puoi inserire più di un valore   <i class="icon-question-sign" tooltip="Scrivi una o più tecnologie necessarie per svolgere l'attività, ad esempio: PC, lavagna, CD, ecc. Per inserirle, premi dopo ogni tecnologia 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                  </span>

                    <div class="formTag">
                        <ul ng-repeat="tech in selectedTechnologies" class="zeroMargin subjects">
                            <li class="modalEditItem"><span class="modalEditItemLink">{{tech}} 
                            	<a ng-click="removeTechnology(tech)"><i class="icon-remove-circle"></i> </a></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Activity Resources -->
                <div class="formLevel">
                    <label class="formLabel"><i class="icon-briefcase"></i> Risorse didattiche:   <i class="icon-question-sign" tooltip="Clicca sul bottone a fianco per aggiungere risorse didattiche da utilizzare durante l'attività." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                    </label>
                    <span class="formInput">
                    	<a class="btn-mini btn resBtn" ng-click="createResource()"><i class="icon-plus icon-white"></i> Aggiungi una risorsa</a>
                    </span>
                    <span class="clearfix"></span>

                    <div class="resTable">
                        <div class="headerResTable">
                            <div class="colTable colRes1">
                                <p>Nome</p>
                            </div>
                            <div class="colTable colRes2">
                                <p>Tipo</p>
                            </div>
                            <div class="colTable colRes3">
                                <p>Descrizione</p>
                            </div>
                            <div class="colTable colRes4">
                                <p>Link</p>
                            </div>
                            <div class="colTable colRes5">
                                <p></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div ng-show="resourcesForDisplay.length" class="rowTable" >
                            <div ng-repeat="resource in resourcesForDisplay" class="rowResLink">
                                <a ng-href="">
                                    <div class="colTable colRes1">
                                        <p>{{resource.name}}</p>
                                    </div>
                                    <div class="colTable colRes2">
                                        <p>{{resource.type}}</p>
                                    </div>
                                    <div class="colTable colRes3">
                                        <p>{{resource.descr}}</p>
                                    </div>
                                    <div class="colTable colRes4">
                                        <p><a href="{{resource.link}}" target="_blank">Link</a></p>
                                    </div>
                                    <div class="colTable colRes5">
                                        <p><a href="" tooltip="Cancella questa risorsa" tooltip-trigger="mouseenter" tooltip-placement="bottom"><i class="icon-remove"></i></a></p>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

                <!-- Activity Description -->
                <div class="formLevel">
                    <div class="errorBox">
                        <span class="errorTipModal" ng-show="ActCreateForm.pract_descr.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipModal" ng-show="ActCreateForm.pract_descr.$error.maxlength">Massimo 2000 caratteri.</span>
                    </div>
                    <label class="formLabel"><i class="icon-info-sign"></i> Descrizione dell'attività:   <i class="icon-question-sign" tooltip="Descrivi dettagliatamente come svolgere l'attività, indicando tutti gli elementi necessari per " tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                    </label>
                    <textarea class="formInput" name="pract_descr" ng-model="pract_descr" rows="5"
                              ng-maxlength="200" ng-pattern="/^[a-zA-Z0-9.,:;... òàùèéì/'/-//@#*]+$/"></textarea>
                    <span class="clearfix"></span>
                </div>

                <!-- Activity Pedagogical -->
                <div class="formLevel">
                    <div class="errorBox">
                        <span class="errorTipModal" ng-show="ActCreateForm.edu_descr.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipModal" ng-show="ActCreateForm.edu_descr.$error.maxlength">Massimo 2000 caratteri.</span>
                    </div>
                    <label class="formLabel"><i class="icon-question-sign"></i> Suggerimenti e consigli:   <i class="icon-question-sign" tooltip="Scrivi qui i suggerimenti pedagogici, i consigli didattici, i possibili problemi e tutto ciò che credi possa essere utile per svolgere al meglio l'attività." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                    </label>
                    <textarea class="formInput" name="edu_descr" ng-model="edu_descr" rows="5"
                              ng-maxlength="200" ng-pattern="/^[a-zA-Z0-9.,:;... òàùèéì/'/-//@#*]+$/"></textarea>
                    <span class="clearfix"></span>
                </div>

            </div>
            <div class="modal-footer">
            		<a id="cancelCreateActivity" class="btn btnFormCancel" ng-click="closeAddActivity()">Cancella</a>
                <button id="confirmCreateLD" type="submit" class="btn btnForm " ng-disabled="LdCreateForm.$invalid">
                    Crea
                </button>
            </div>
        </form>
    </div>
</div>
<!-- END ADD ACTIVITY CONTENT (Modal)-->


<!-- BEGIN ADD LD (Modal View) -->
<div id="modalAddLD" modal="addLD" close="closeAddLD()" options="optsAddLD"
     class="modal-activity">
    <div class="modal-header">
        <h4>Aggiungi un progetto</h4>

        <div class="clearfix"></div>
    </div>
    <div ng-controller="AddLDCtrl">
        <form novalidate class="createLdForm" name="AddLDForm" ng-submit="AddLD()">
            <div class="modal-body">

                <div class="searchBoxDiv">
                    <i class="icon-filter"></i> <input type="search" class="searchBoxInput" ng-model="search"
                                                       placeholder="filter designs..."/>

                </div>


                <div class="ldPartTable">
                    <div class="rowLDTable" ng-repeat="learningDesign in learningDesigns | filter:search "
                         ng-show="learningDesign.ld_publication==1">

                        <div class=" colLDPart0">
                            <input type="radio" ng-model="ld" value="{{ ld_id }}">

                        </div>
                        <div class=" colLDPart1">
                            <p><i class="icon-book"></i> {{ learningDesign.ld_name }}</p>

                            <p><i class="icon-tasks float-left"> </i> <span ng-repeat="qcer in learningDesign.qcers"
                                                                            class="qcerLDList"> {{ qcer.qcer_name }}</span>
                            </p>

                            <p ng-show="!learningDesign.qcers">Non definito</p>

                            <p><i class="icon-bell"></i> {{ learningDesign.ld_scope }}</p>

                            <p><i class="icon-pencil"></i> {{ learningDesign.user_name }} {{
                                learningDesign.user_last_name }} </p>

                            <p><i class="icon-calendar"></i> {{ learningDesign.ld_creation_date | date:'d-M-yyyy' }}
                            </p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>


            </div>
            <div class="modal-footer">
                <button id="cancelAddLD" class="btn btnFormCancel" ng-click="closeAddLD()">Cancella</button>
                <button id="confirmAddLD" type="submit" class="btn btnForm "
                        ng-disabled="AddLDForm.$invalid">
                    Aggiungi questo progetto
                </button>
            </div>
        </form>
    </div>
</div>
<!-- END ADD LD (Modal)-->


<!-- BEGIN CREATE GROUP (Modal)-->
<div id="modalCreateGroup" modal="addGroup" close="closeAddGroup()" options="optsAddGroup"
     class="modal-activity">
    <div class="modal-header">
        <h4>Create a Group</h4>

        <div class="clearfix"></div>
    </div>
    <div class="modal-body">

        <div class="newActBox centered">
            <button id="createActivity" type="button" class="newActButton1" href ng-click="createActivity()">
                <i class="icon-plus icon-white"></i><br>Activity
            </button>
            <button id="addLD" type="button" class="newActButton2" href ng-click="addingLD()">
                <i class="icon-plus icon-white"></i><br>Design
            </button>


        </div>
        <div id="activityErrors" ng-show="alertMsg" class="alert alert-warning">
            {{ alertMsg }}
        </div>
    </div>
    <div class="modal-footer">
        <button id="cancelCreateGroup" class="btn btnFormCancel" ng-click="closeAddGroup()">Cancel</button>
        <button id="confirmCreateGroup" type="submit" class="btn btnForm "
                ng-disabled="AddGroupForm.$invalid">
            Add this group
        </button>

    </div>

</div>
<!-- END CREATE GROUP (Modal)-->

<div class="clearfix"></div>

</div>
</tab>
<tab active="data.static2">

    <div class="tabContent">
        <!-- BEGIN DYNAMIC ACTIVITY CONTENT (Teacher View) -->
        <div ng-repeat="(level, nodes) in levels" class="teacherLevel">
            <div ng-repeat="node in nodes" class="nodeText">
                <!-- If it's a group:  -->
                <div ng-show="node.children" class="groupBoxText">
                    <h4 class="groupNameText"> {{ node.node_name }} </h4>

                    <div class="clearfix"></div>
                    <!-- Children in groups are organized by level, create unstyled div for each level -->
                    <div ng-repeat="(childLevel, subChildren) in node.children">
                        <div ng-repeat="child in subChildren">
                            <h5 class="nodeNameText">{{ child.group_child_name }}</h5>
                                 <span ng-show="child.group_child_type!='LD'">
                                    <activitydetail showped="true" node="child"></activitydetail>
                                 </span>
                                <span ng-show="child.group_child_type=='LD'">
                                    <lddetail node='child'></lddetail>
                                </span>
                        </div>
                    </div>
                </div>
                <!-- End Children -->
                <!-- If it's NOT a group:  -->
                <div ng-show="!node.children"><h5 class="nodeNameText">{{ node.node_name }}</h5>
                        <span ng-show="node.type!='LD'">
                            <activitydetail showped="true" node="node"></activitydetail>
                        </span>
                                <span ng-show="node.type=='LD'">
                                    <lddetail node='node'></lddetail>
                                </span>
                </div>
            </div>
            <!-- End Activity or Group Box -->
        </div>
        <div id="activityErrors" ng-show="alertMsg" class="alert alert-warning">
            {{ alertMsg }}
        </div>

        <!-- End Level Box -->
        <!-- END DYNAMIC ACTIVITY CONTENT (Teacher View) -->
        <div class="clearfix"></div>
    </div>
</tab>
<tab active="data.static3">
    <div class="tabContent">
        <!-- BEGIN DYNAMIC ACTIVITY CONTENT (Student View) -->
        <div ng-repeat="(level, nodes) in levels" class="studentLevel">
            <div ng-repeat="node in nodes" class="nodeText">
                <!-- If it's a group:  -->
                <div ng-show="node.children" class="groupBoxText">
                    <h4 class="groupNameText"> {{ node.node_name }} </h4>

                    <div class="clearfix"></div>
                    <!-- Children are also in levels: Create unstyled div for each level -->
                    <div ng-repeat="(childLevel, subChildren) in node.children">
                        <div ng-repeat="child in subChildren">
                            <h5 class="nodeNameText">{{ child.group_child_name }}</h5>
                                  <span ng-show="child.group_child_type!='LD'">
                                    <activitydetail node="child"></activitydetail>
                                  </span>
                                  <span ng-show="child.group_child_type=='LD'">
                                    <lddetail node='child'></lddetail>
                                  </span>
                        </div>
                    </div>
                    <!-- End unstyled div for children levels -->
                </div>
                <!-- End Children -->
                <!-- If it's NOT a group:  -->
                <div ng-show="!node.children"><h5 class="nodeNameText">{{ node.node_name }}</h5>
                        <span ng-show="node.type!='LD'">
                            <activitydetail node="node"></activitydetail>
                        </span>
                        <span ng-show="node.type=='LD'">
                            <lddetail node='node'></lddetail>
                        </span>
                </div>
            </div>
            <!-- End Activity or Group Box -->
        </div>
        <div id="activityErrors" ng-show="alertMsg" class="alert alert-warning">
            {{ alertMsg }}
        </div>

        <!-- End Level Box -->
        <!-- END DYNAMIC ACTIVITY CONTENT (Student View) -->
        <div class="clearfix"></div>
    </div>
</tab>

</tabset>

</div>
</div>
<!--Body content-->
</div>
</div>
</div>