<div class="container top-margin ">
    <div class="row-fluid">
        <div id="sidebar" class="span3">
            <h4 class="red centered zeroMargin">General Info</h4>
            <!--
              <div id="ldName">
                  <a href="#"><span class="float-right icon-white icon-star-empty"></span> </a>
                  <h4>Learning Design Title Demo 25</h4>
              </div>
              <div id="langLev">
                  <span class="langLev langLevSel">A1</span>
                  <span class="langLev">A2</span>
                  <span class="langLev">B1</span>
                  <span class="langLev">B2</span>
                  <span class="langLev">C1</span>
                  <span class="langLev">C2</span>
              </div>
            -->
            <div>
                <h5 class="zeroMargin ">Author:</h5>
                <a href="#" class="zeroMargin">Firstname Lastname</a>
            </div>
            <div class="clear marginTop"><h5 class="zeroMargin">Subject:</h5>

                <ul class="zeroMargin">
                    <li class="sidebarItem">item n. 1</li>
                    <li class="sidebarItem">item n. 2</li>
                    <li class="sidebarItem">item number 3</li>
                </ul>

            </div>
            <div class="clear marginTop"><h5 class="zeroMargin">Objectives:</h5>

                <ul class="zeroMargin">
                    <li class="sidebarItem">item n. 1</li>
                    <li class="sidebarItem">item n. 2</li>
                    <li class="sidebarItem">item number 3</li>
                </ul>
            </div>
            <div class="clear marginTop"><h5 class="zeroMargin">Pre-Requisites:</h5>

                <ul class="zeroMargin">
                    <li class="sidebarItem">item n. 1</li>
                    <li class="sidebarItem">item n. 2</li>
                    <li class="sidebarItem">item number 3</li>
                </ul>
            </div>
            <div class="clear marginTop">
                <h5 class="zeroMargin">Students' Description:</h5>
                <span class="sidebarItem">Here comes the text that describes the students' profile, including age, number, location, etc.</span>
            </div>
            <div class="clear marginTop"><h5 class=" zeroMargin">Tags:</h5>

                <ul class="zeroMargin">
                    <li class="sidebarItem">item n. 1</li>
                    <li class="sidebarItem">item n. 2</li>
                    <li class="sidebarItem">item number 3</li>
                </ul>

            </div>
            <div class="clear marginTop"><h5 class="zeroMargin">Related Designs:</h5>
                <ul class="zeroMargin">
                    <li class="sidebarItem">item n. 1</li>
                    <li class="sidebarItem">item n. 2</li>
                    <li class="sidebarItem">item number 3</li>
                </ul>
            </div>

            <!--Sidebar content-->
        </div>
        <div id="content" class="span9">
            <div id="contentButtons">
            <button class="btnContent btnActive" ><img src="../../img/board.png" class="btnImage"> Global View</button>
            <button class="btnContent" ><img src="../../img/teacher.png" class="btnImage"> Teacher View</button>
            <button class="btnContent" ><img src="../../img/student.png" class="btnImage"> Student View</button>
            </div>
            <div id="contentBody">
            <div id="contentHeader">
                <div class="float-left">
                    <h4 class="inline"><a href="#"><img ng-src="../img/emptyStar.png" class="star"></img></a>Title of the Learning Design</h4>
                </div>
                <div class="float-right">
                     <h4><span class="round">A1</span> Lesson</h4>
                </div>
            </div>

            <div id="tabContent">

            </div>
            </div>
            <!--Body content-->
        </div>
    </div>
</div>