<div class="container top-margin">
    <div class="row-fluid">

        <!-- User Avatar -->
        <div class="span3  centered top-margin ">
            <img id="userProfileImage" ng-show="userInfo.image_uri" ng-src="/{{userInfo.image_uri}}" alt="User Profile Image" class="user-pic-big">
						<img id="userProfileDefaultImage" ng-show="!userInfo.image_uri" ng-src="/img/pics/user.png" alt="User Default Profile Image" class="user-pic-big">
        </div>
        
        <!-- User Profile Information -->
        <div class="span9 top-margin userData">
            <h1>{{ userInfo.name }} {{ userInfo.last_name }}</h1>
            <h4>{{ userInfo.workplace }}</h4>
            <h4>{{ userInfo.city }}, {{ userInfo.country }}</h4>
        </div>
        <div class="clearfix"></div>
        
				<!-- User Projects -->
        <div class="top-margin zero">
            <div class="btnContent btnActive btnTitle">
                <h3>Progetti di {{ userInfo.name }}</h3>
            </div>
            <div id="contentBodyUser">
                <div class="ldTable">
                    <div class="headerTable">
                        <div class="colTable col1">
                            <p><a href="" ng-click="predicate = 'ld_name'; reverse=!reverse" class="whiteText">Nome del progetto <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable col2">
                            <p><a href="" ng-click="predicate = 'ld_qcers'; reverse=!reverse" class="whiteText">Livelli QCER <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable col3">
                            <p><a href="" ng-click="predicate = 'ld_scope'; reverse=!reverse" class="whiteText">Ambito <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable col4">
                            <p><a id="sortUserProjectsByCreationDate" href="" ng-click="predicate = 'ld_creation_date'; reverse=!reverse" class="whiteText">Creato il <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="rowTable user-projects" ng-repeat="project in userProjects | orderBy:predicate:reverse " >
                        <div class="rowLink">
                            <a ng-href="/ld/{{ project.ld_id }}">
                                <div class="colTable col1">
                                    <p>{{ project.ld_name }}</p>
                                </div>
                                <div class="colTable col2">
                                    <p class="qcerList">{{ project.ld_qcers }}</p>
                                </div>
                                <div class="colTable col3">
                                    <p>{{ project.ld_scope }}</p>
                                </div>
                                <div class="colTable col4">
                                    <p>{{ project.ld_creation_date | date:'d-M-yyyy' }} </p>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>