<div class="container top-margin">
    <div class="row-fluid">


        <div class="top-margin zero">
            <div class="btnContent btnActive btnTitle">
                    <h4 id="searchBoxHeader">I miei progetti</h4>
                    <div class="searchBoxDiv">
                        <i class="icon-filter"></i> <input type="search" class="searchBoxInput" ng-model="search" placeholder="filtra progetti..." />

                    </div>


            </div>
            <div id="contentBodyUser">
                <div class="ldTable" ng-show="myProjects != '' ">
                    <div class="headerUserTable">
                        <div class="colTable colLD1">
                            <p><a href="" ng-click="predicate = 'ld_name'; reverse=!reverse" class="whiteText">Nome del progetto <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable colLD2">
                            <p><a href="" ng-click="predicate = 'ld_qcers'; reverse=!reverse" class="whiteText">Livelli QCER <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable colLD3">
                            <p><a href="" ng-click="predicate = 'ld_scope'; reverse=!reverse" class="whiteText">Ambito <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable colLD4">
                            <p><a href="" ng-click="predicate = 'ld_publication'; reverse=!reverse" class="whiteText">Pubblicazione <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable colLD5">
                            <p><a id="sortMyProjectsByCreationDate" href="" ng-click="predicate = 'ld_creation_date'; reverse=!reverse" class="whiteText">Creato il <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="rowTable my-projects" ng-repeat="project in myProjects | filter:search | orderBy:predicate:reverse">
                        <div class="rowUserLink">
                            <a ng-href="/ld/{{ project.ld_id }}">
                                <div class="colTable colLD1">
                                    <p>{{ project.ld_name }}</p>
                                </div>
                                <div class="colTable colLD2">
                                    <p class="qcerList">{{ project.ld_qcers }}</p>
                                </div>
                                <div class="colTable colLD3">
                                    <p>{{ project.ld_scope }}</p>
                                </div>
                                <div class="colTable colLD4" ng-show="project.ld_publication == 1">
                                    <p>Pubblico</p>
                                </div>
                                <div class="colTable colLD4" ng-show="project.ld_publication == 0">
                                    <p>Privato</p>
                                </div>
                                <div class="colTable colLD5">
                                    <p>{{ project.ld_creation_date | date:'d-M-yyyy' }} </p>

                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <div ng-show="myProjects == '' ">
                   <br>
                    <h4 class="centered">Non hai ancora creato nessun progetto.</h4>
                <br>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>