<div class="container top-margin">
    <div class="row-fluid">

        <div class="top-margin zero">
            <div class="btnContent btnActive btnTitle">
                <h4 id="searchBoxHeader">Trova colleghi</h4>
                <div class="searchBoxDiv">
                    <i class="icon-filter"></i> <input type="search" class="searchBoxInput" ng-model="search" placeholder="filtra utenti..." />

                </div>
                </div>

                <div id="contentBodyUser">
                    <div class="ldTable">
                        <div class="headerUserTable">
                            <div class="colTable colUser0">
                                <p>&nbsp;</p>
                            </div>
                            <div class="colTable colUser1">
                                <p><a href="" ng-click="predicate = 'user_name'; reverse=!reverse" class="whiteText">Nome <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                            </div>
                            <div class="colTable colUser2">
                                <p><a href="" ng-click="predicate = 'last_name'; reverse=!reverse" class="whiteText">Cognome <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                            </div>
                            <div class="colTable colUser3">
                                <p><a href="" ng-click="predicate = 'workplace'; reverse=!reverse" class="whiteText">Luogo di lavoro <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                            </div>
                            <div class="colTable colUser4">
                                <p><a href="" ng-click="predicate = 'city'; reverse=!reverse" class="whiteText">Città <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                            </div>
                            <div class="colTable colUser5">
                                <p><a href="" ng-click="predicate = 'country'; reverse=!reverse" class="whiteText">Paese <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="rowTable" ng-repeat="profile in uniqueUsers | filter:search | orderBy:predicate:reverse" >
                            <div class="rowUserLink">
                                <a ng-href="/user/{{ profile.id }}">
                                    <div class="colTable colUser0">
                                        <img ng-show="profile.uri" id="userAvatarImage" ng-src="/{{profile.uri}}" alt="User Avatar" class="img-rounded user-pic"/>
                                        <img ng-show="!profile.uri" id="userAvatarNullImage" ng-src="/img/user.png" alt="User Avatar" class="img-rounded user-pic"/>
                                    </div>
                                    <div class="colTable colUser1">
                                        <p>{{ profile.name }}</p>
                                    </div>
                                    <div class="colTable colUser2">
                                        <p>{{ profile.last_name }}</p>

                                    </div>
                                    <div class="colTable colUser3">
                                        <p>{{ profile.workplace }}</p>
                                    </div>
                                    <div class="colTable colUser4">
                                        <p>{{ profile.city }}</p>
                                    </div>
                                    <div class="colTable colUser5">
                                        <p>{{ profile.country }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>



        </div>

    </div>
</div>