<div class="container top-margin">
    <div class="row-fluid">

        <div class="span3  centered top-margin ">
            <!-- FIXME: GET REAL PICTURE FROM DB -->
            <img ng-src="../img/pics/user{{ userProfile.image_id }}.png" class="user-pic-big">
            <div>
                <a ng-href="/userlds/{{userProfile.id}}">
                    <h4 class="userDesignsButton">I miei progetti</h4>
                </a>
            </div>
        </div>
        <div class="span1"></div>
        <div class="span8 top-margin userData">

        		<div id="updateErrors" ng-show="userProfileUpdateErrors" class="updateErrors">
        			{{ userProfileUpdateErrors }}
    				</div>

        		<!-- User First Name -->
            <form name="UserNameForm" novalidate="" class="singleForm">
              <div>
                <label class="userLabel">Nome: </label>
                <input id="userProfileFirstName" class="userForm" type="text"
                       name="firstname"
                       ng-model="userProfile.name" required
                       ui-Blur="updateUserProfileFirstName()"
                       ng-minlength="2"
                       ng-maxlength="20"
                       ng-pattern="/^[a-zA-Z]+$/">

                <div class="errorBoxTab">
                  <span id="firstNameReqErr" class="errorTipTab" ng-show="userProfile.name == '' || (UserNameForm.firstname.$dirty && UserNameForm.firstname.$error.required)">Necessario!</span>
                  <span id="firstNamePatternErr" class="errorTipTab" ng-show="UserNameForm.firstname.$error.pattern">Simbolo non permesso.</span>
                  <span id="firstNameMinErr" class="errorTipTab" ng-show="UserNameForm.firstname.$error.minlength">Minimo 2 caratteri.</span>
                  <span id="firstNameMaxErr" class="errorTipTab" ng-show="UserNameForm.firstname.$error.maxlength">Massimo 20 caratteri.</span>
                </div>
              </div>
            </form>

						<!-- User Last Name -->
            <form name="UserLastNameForm" novalidate="" class="singleForm">
              <div>
                <label class="userLabel">Cognome: </label>
                <input id="userProfileLastName" class="userForm" type="text"
                       name="lastname"
                       ng-model="userProfile.last_name" required
                       ui-Blur="updateUserProfileLastName()"
                       ng-minlength="2"
                       ng-maxlength="20"
                       ng-pattern="/^[a-zA-Z]+$/">

                <div class="errorBoxTab">
                  <span id="lastNameReqErr" class="errorTipTab" ng-show="userProfile.last_name == '' || (UserLastNameForm.lastname.$dirty && UserLastNameForm.lastname.$error.required)">Necessario!</span>
                  <span id="lastNamePatternErr" class="errorTipTab" ng-show="UserLastNameForm.lastname.$error.pattern">Simbolo non permesso.</span>
                  <span id="lastNameMinErr" class="errorTipTab" ng-show="UserLastNameForm.lastname.$error.minlength">Minimo 2 caratteri.</span>
                  <span id="lastNameMaxErr" class="errorTipTab" ng-show="UserLastNameForm.lastname.$error.maxlength">Massimo 20 caratteri.</span>
                </div>
              </div>
            </form>

						<!-- User Email -->
 						<form name="UserEmailForm" novalidate="" class="singleForm">
              <div>
                <label class="userLabel">E-mail: </label>
                <input id="userProfileEmail" class="userForm" type="email"
                       name="userEmail"
                       ng-model="userProfile.email" required
                       ui-Blur="updateUserProfileEmail()"
                       ng-maxlength="255">

                <div class="errorBoxTab">
                  <span id="emailReqErr" class="errorTipTab" ng-show="userProfile.email == '' || (UserEmailForm.userEmail.$dirty && UserEmailForm.userEmail.$error.required)">Necessario!</span>
                  <span id="emailPatternErr" class="errorTipTab" ng-show="UserEmailForm.userEmail.$error.email">Per favore, inserisci un email valido.</span>
                  <span id="emailMaxErr" class="errorTipTab" ng-show="UserEmailForm.userEmail.$error.maxlength">Massimo 255 caratteri.</span>
                </div>
              </div>
            </form>

						<!-- User Workplace -->
        		<form name="UserWorkplaceForm" novalidate="" class="singleForm">
              <div>
                <label class="userLabel">Luogo di lavoro: </label>
                <input id="userProfileWorkplace" class="userForm" type="text"
                       name="userWorkplace"
                       ng-model="userProfile.workplace"
                       ui-Blur="updateUserProfileWorkplace()"
                       ng-maxlength="50"
                       ng-pattern="/^[a-zA-Zòàùèéì ]+$/">

                <div class="errorBoxTab">
                  <span id="workplacePatternErr" class="errorTipTab" ng-show="UserWorkplaceForm.userWorkplace.$error.pattern">Simbolo non permesso.</span>
                  <span id="workplaceMaxErr" class="errorTipTab" ng-show="UserWorkplaceForm.userWorkplace.$error.maxlength">Massimo 50 caratteri.</span>
                </div>
              </div>
            </form>
	
						<!-- User City -->
            <form name="CityForm" novalidate="" class="singleForm">
              <div>
                <label class="userLabel">Citt&agrave;: </label>
                <input id="userProfileCity" class="userForm" type="text"
                       name="city"
                       ng-model="userProfile.city"
                       ui-Blur="updateUserProfileCity()"
                       ng-maxlength="50"
                       ng-pattern="/^[a-zA-Zòàùèéì ]+$/">

                <div class="errorBoxTab">
                  <span id="cityPatternErr" class="errorTipTab" ng-show="CityForm.city.$error.pattern">Simbolo non permesso.</span>
                  <span id="cityMaxErr" class="errorTipTab" ng-show="CityForm.city.$error.maxlength">Massimo 50 caratteri.</span>
                </div>
              </div>
            </form>

						<!-- User Country -->
            <form name="CountryForm" novalidate="" class="singleForm">
              <div>
                <label class="userLabel">Paese: </label>
                <input id="userProfileCountry" class="userForm" type="text"
                       name="country"
                       ng-model="userProfile.country"
                       ui-Blur="updateUserProfileCountry()"
                       ng-maxlength="50"
                       ng-pattern="/^[a-zA-Zòàùèéì ]+$/">

                <div class="errorBoxTab">
                  <span id="countryPatternErr" class="errorTipTab" ng-show="CountryForm.country.$error.pattern">Simbolo non permesso.</span>
                  <span id="countryMaxErr" class="errorTipTab" ng-show="CountryForm.country.$error.maxlength">Massimo 50 caratteri.</span>
                </div>
              </div>
            </form>
        </div>
</div>


        <div class="clearfix"></div>

</div>