<div class="container top-margin">
    <div class="row-fluid">

        <div class="span3  centered top-margin ">
            <!-- FIXME: GET REAL PICTURE FROM DB -->
            <img ng-src="../img/pics/user{{ user.image_id }}.png" class="user-pic-big">
            <div>
                <a ng-href="/userlds/{{user.user_id}}">
                    <h4 class="userDesignsButton">I miei progetti</h4>
                </a>
            </div>
        </div>
        <!-- FIXME: GET REAL USER DATA FROM DB -->
        <div class="span1"></div>
        <div class="span8 top-margin userData">
            <form name="UserName" novalidate="" class="singleForm">
                <div>
                    <label class="userLabel">Nome: </label>
                    <input class="userForm" type="text"
                           name="userName"
                           ng-model="user.user_name" required
                           ui-Blur="updateLdName()"
                           ng-maxlength="50"
                           ng-pattern="/^[a-zA-Zòàùèéì ]+$/">

                    <div class="errorBoxTab">
                        <span class="errorTipTab"
                              ng-show="(learningDesign.ld_name == '') || (LdName.ldName.$dirty && LdName.ldName.$error.required)">Necessario!</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.maxlength">Massimo 50 caratteri .</span>
                    </div>
                </div>
            </form>

            <form name="UserLastName" novalidate="" class="singleForm">
                <div>
                    <label class="userLabel">Cognome: </label>
                    <input class="userForm" type="text"
                           name="userLastName"
                           ng-model="user.last_name" required
                           ui-Blur="updateLdName()"
                           ng-maxlength="100"
                           ng-pattern="/^[a-zA-Zòàùèéì ]+$/">

                    <div class="errorBoxTab">
                        <span class="errorTipTab"
                              ng-show="(learningDesign.ld_name == '') || (LdName.ldName.$dirty && LdName.ldName.$error.required)">Necessario!</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.maxlength">Massimo 50 caratteri .</span>
                    </div>
                </div>
            </form>

 <form name="UserEmail" novalidate="" class="singleForm">
                <div>
                    <label class="userLabel">E-mail: </label>
                    <input class="userForm" type="text"
                           name="userEmail"
                           ng-model="user.email" required
                           ui-Blur="updateLdName()"
                           ng-maxlength="255"
                           ng-pattern="/^[a-zA-Z0-9@.]+$/">

                    <div class="errorBoxTab">
                        <span class="errorTipTab"
                              ng-show="(learningDesign.ld_name == '') || (LdName.ldName.$dirty && LdName.ldName.$error.required)">Necessario!</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.maxlength">Massimo 50 caratteri .</span>
                    </div>
                </div>
            </form>

        <form name="UserWorkplace" novalidate="" class="singleForm">
                <div>
                    <label class="userLabel">Luogo di lavoro: </label>
                    <input class="userForm" type="text"
                           name="userWorkplace"
                           ng-model="user.workplace"
                           ui-Blur="updateLdName()"
                           ng-maxlength="50"
                           ng-pattern="/^[a-zA-Zòàùèéì ]+$/">

                    <div class="errorBoxTab">
                        <span class="errorTipTab"
                              ng-show="(learningDesign.ld_name == '') || (LdName.ldName.$dirty && LdName.ldName.$error.required)">Necessario!</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.maxlength">Massimo 50 caratteri .</span>
                    </div>
                </div>
            </form>

            <form name="City" novalidate="" class="singleForm">
                <div>
                    <label class="userLabel">Citt&agrave;: </label>
                    <input class="userForm" type="text"
                           name="city"
                           ng-model="user.city"
                           ui-Blur="updateLdName()"
                           ng-maxlength="50"
                           ng-pattern="/^[a-zA-Zòàùèéì ]+$/">

                    <div class="errorBoxTab">
                        <span class="errorTipTab"
                              ng-show="(learningDesign.ld_name == '') || (LdName.ldName.$dirty && LdName.ldName.$error.required)">Necessario!</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.maxlength">Massimo 50 caratteri .</span>
                    </div>
                </div>
            </form>

            <form name="Country" novalidate="" class="singleForm">
                <div>
                    <label class="userLabel">Paese: </label>
                    <input class="userForm" type="text"
                           name="country"
                           ng-model="user.country"
                           ui-Blur="updateLdName()"
                           ng-maxlength="50"
                           ng-pattern="/^[a-zA-Zòàùèéì ]+$/">

                    <div class="errorBoxTab">
                        <span class="errorTipTab"
                              ng-show="(learningDesign.ld_name == '') || (LdName.ldName.$dirty && LdName.ldName.$error.required)">Necessario!</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.pattern">Simbolo non permesso.</span>
                        <span class="errorTipTab" ng-show="LdName.ldName.$error.maxlength">Massimo 50 caratteri .</span>
                    </div>
                </div>
            </form>
        </div>
</div>


        <div class="clearfix"></div>

</div>