<div class="container top-margin">
    <div class="row-fluid">


        <div class="top-margin zero">
            <div class="btnContent btnActive btnTitle">
                    <h4 id="searchBoxHeader">I miei progetti</h4>
                    <div class="searchBoxDiv">
                        <i class="icon-filter"></i> <input type="search" class="searchBoxInput" ng-model="search" placeholder="filtra progetti..." />

                    </div>


            </div>
            <div id="contentBodyUser">
                <div class="ldTable">
                    <div class="headerUserTable">
                        <div class="colTable colLD1">
                            <p><a href="" ng-click="predicate = 'ld_name'; reverse=!reverse" class="whiteText">Nome del progetto <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable colLD2">
                            <p><a href="" ng-click="predicate = 'qcers[0].qcer_name'; reverse=!reverse" class="whiteText">Livelli QCER <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable colLD3">
                            <p><a href="" ng-click="predicate = 'ld_scope'; reverse=!reverse" class="whiteText">Ambito <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable colLD4">
                            <p><a href="" ng-click="predicate = 'ld_publication'; reverse=!reverse" class="whiteText">Pubblicazione <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="colTable colLD5">
                            <p><a href="" ng-click="predicate = 'ld_creation_date'; reverse=!reverse" class="whiteText">Creato il <i class="icon-arrow-up icon-white"></i><i class="icon-arrow-down icon-white"></i></a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="rowTable" ng-repeat="learningDesign in learningDesigns | filter:search | orderBy:predicate:reverse">
                        <div class="rowUserLink">
                            <a ng-href="/ld/{{ learningDesign.ld_id }}">
                                <div class="colTable colLD1">
                                    <p>{{ learningDesign.ld_name }}</p>
                                </div>
                                <div class="colTable colLD2">
                                    <p ng-repeat="qcer in learningDesign.qcers" class="qcerList">{{ qcer.qcer_name }}</p> <p ng-show="!learningDesign.qcers">Non definito </p>

                                </div>
                                <div class="colTable colLD3">
                                    <p>{{ learningDesign.ld_scope }}</p>
                                </div>
                                <div class="colTable colLD4">
                                    <p>{{ learningDesign.ld_publication }}  </p>
                                </div>
                                <div class="colTable colLD5">
                                    <p>{{ learningDesign.ld_creation_date | date:'d-M-yyyy' }} </p>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>