<div class="container top-margin">
    <div class="row-fluid">

        <div class="span3  centered top-margin ">
            <!-- FIXME: GET REAL PICTURE FROM DB -->
            <img ng-src="../img/pics/user{{ user.image_id }}.png" class="user-pic-big">

        </div>
        <!-- FIXME: GET REAL USER DATA FROM DB -->
        <div class="span9 top-margin userData">
            <h1>{{ user.user_name }} {{ user.last_name }}</h1>
            <h4>{{ user.workplace }}</h4>
            <h4>{{ user.city }}, {{ user.country }}</h4>
        </div>
        <div class="clearfix"></div>
        <div class="top-margin zero">
            <div class="btnContent btnActive btnTitle">
                <!-- FIXME: GET REAL USER DATA FROM DB -->
                <h3>{{ user.user_name }}'s Designs</h3>
            </div>
            <div id="contentBodyUser">
                <div class="ldTable">
                    <div class="headerTable">
                        <div class="colTable col1">
                            <p>Design Name</p>
                        </div>
                        <div class="colTable col2">
                            <p>QCER Level</p>
                        </div>
                        <div class="colTable col3">
                            <p>Scope</p>
                        </div>
                        <div class="colTable col4">
                            <p>Created </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="rowTable" ng-repeat="profile in userProfiles " >
                        <div class="rowLink">
                            <a ng-href="/ld/{{ profile.ld_id }}">
                                <div class="colTable col1">
                                    <p>{{ profile.ld_name }}</p>
                                </div>
                                <div class="colTable col2">
                                    <p ng-repeat="qcer in profile.qcers" class="qcerList">{{ qcer.qcer_name }}</p> <p ng-show="!profile.qcers">Not defined</p>

                                </div>
                                <div class="colTable col3">
                                    <p>{{ profile.scope }}</p>
                                </div>
                                <div class="colTable col4">
                                    <p>{{ profile.creation_date | date:'yyyy MMM d' }} </p>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>