<!DOCTYPE html>
<html lang="en" ng-app="ledita-app">
<head>
    <meta charset="utf-8">
    <title>LEDITA: Learning Design for Italian Language</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/bootstrap.icon-large.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

</head>

<body ng-cloak ng-controller="AppCtrl">

<!-- Begin Nav Bar Anon View -->
<div id="navBarAnon" data-access-level='{{ accessLevels.anon }}' ng-controller="LoginCtrl"
     class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-white icon-user"></span>
            </button>
            <a class="brand" href="#" name="top"><img src="../img/logo.png" alt="Ledita Logo"/></a>

            <div class="nav-collapse collapse">

                <form ng-submit="login()" class="navbar-form pull-right">
            <span id="loginError" ng-show="error" class="alert alert-error centered">
                  {{ error }}
              </span>

                    <input ng-model="username" class="span2" type="email" placeholder="Email" required="">
                    <input ng-model="password" class="span2" type="password" placeholder="Password" required="">
                    <button id="loginButton" type="submit" class="btn">Login</button>
                    <span id="pwRec"><a href="#">Forgot your password?</a></span>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- End Nav Bar Anon View -->

<!-- Begin Nav Bar User View -->
<div id="navBarUser" data-access-level='{{ accessLevels.user }}' class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="homeLink" class="brand" href="/"><img src="../img/logo.png" alt="Ledita Logo"/></a>

            <div ng-controller="NavActionCtrl" class="nav-collapse collapse">
                <ul class="nav-top-pad nav">
                    <li>
                        <button type="button" class="btn btn-small btn-menu" onclick="location.href='/lds'">Explore LDs</button>
                    </li>
                    <li>
                        <button id="createLd" type="button" class="btn btn-small btn-menu" href ng-click="createLD()">
                            Create a New
                            LD
                        </button>

                    </li>
                    <li>
                        <button type="button" class="btn btn-small btn-menu" onclick="location.href='/users'" >Find Users</button>
                    </li>

                </ul>
                <div class="pull-right nav-closed">
                    <ul class="nav pull-right">
                        <a id="userActionsMenu" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <li class="dropdown">

                            <li id="loggedInUserName" class="nav-username">{{ user.username }}</li>
                            <img ng-src="/img/pics/user.png" alt="User Avatar" class="img-rounded user-pic"/>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- FIXME: add dynamic links -->
                            <li><a href="/user/"><i class="icon-cog"></i> My Profile</a></li>
                            <li><a href="/lds/"><i class="icon-pencil"></i> My Designs</a></li>
                            <li class="divider"></li>
                            <li><a id="logoutLink" ng-click="logout()" href=""><i class="icon-off"></i> Logout</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>

                <!-- Start LD creation Modal -->
                <div modal="beOpen" close="closeLD()" options="opts" id="modal">

                    <div class="modal-header">
                        <h4>Create a New Design</h4>

                        <div class="clearfix"></div>
                    </div>
                    <div ng-controller="LdCreateCtrl" >
                    	<form novalidate class="createLdForm" name="LdCreateForm" ng-submit="submitLD()">
                         <div class="modal-body">


                         	<!-- Name -->
                            <div class="formLevel">
                                <div class="errorBox">
                                    <span id="ldNameReqErr" class="errorTipModal" ng-show="LdCreateForm.ldName.$dirty && LdCreateForm.ldName.$error.required">Required!</span>
                                    <span id="ldNamePatternErr" class="errorTipModal" ng-show="LdCreateForm.ldName.$error.pattern">The design name cannot contain this symbol.</span>
                                    <span id="ldNameLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldName.$error.maxlength">The design name cannot be longer than 50 characters.</span>
                                </div>
                                <label class="formLabel"><i class="icon-book"></i> Design Name*:</label>
                                <input class="formInput" type="text" name="ldName" ng-model="ldName" required ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                                <span class="clearfix"></span>
                            </div>

                            <!-- Qcers -->
                            <div class="formLevel">
                                <div class="errorBox">
                                    <span class="errorTipModal" ng-show="LdCreateForm.qcer.$dirty && LdCreateForm.qcer.$error.required">Required!</span>
                                </div>
                                <label class="formLabel formLabel"><i class="icon-tasks"></i> QCER Level*:</label>
                                <div class="formCheck">
                                    <span ng-show="qcerError">{{ qcerError }}</span>
				                	<span ng-repeat="qceropt in qceropts" class="qcerOptData" >
				                    	<input type="checkbox" ng-model="selectedQcers[qceropt.id]" name="qcer"> {{ qceropt.name }}
				                	</span>
                                </div>
                                <span class="clearfix"></span>
                            </div>

                            <!-- Scope -->
                            <div id="scopeSection" class="formLevel">
                                <div class="errorBox">
                                    <span id="ldScopeReqErr" class="errorTipModal" ng-show="LdCreateForm.ldScope.$dirty && LdCreateForm.ldScope.$error.required">Required!</span>
                                    <span id="ldScopePatternErr" class="errorTipModal" ng-show="LdCreateForm.ldScope.$error.pattern">The design scope cannot contain this symbol.</span>
                                    <span id="ldScopeLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldScope.$error.maxlength">The design scope cannot be longer than 50 characters.</span>
                                    <span class="clearfix"></span>
                                </div>
                                <label class="formLabel"><i class="icon-bell"></i> Design Scope*:</label>
                                <input class="formInput" type="text" name="ldScope" ng-model="ldScope"
                                	   typeahead="suggestion for suggestion in getScopes($viewValue)"
                                       placeholder="Scope..." required ng-maxlength="50"
                                       ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                            </div>

                            <!-- Topics -->
                            <div id="topicSection" class="formLevel">
                                <div class="errorBox">
                                    <span id="topicReqErr" class="errorTipModal" ng-show="LdCreateForm.ldTopic.$dirty && LdCreateForm.ldTopic.$error.required">Required!</span>
                                    <span id="topicPatternErr" class="errorTipModal" ng-show="LdCreateForm.ldTopic.$error.pattern">A topic cannot contain this symbol.</span>
                                    <span id="topicLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldTopic.$error.maxlength">A topic cannot be longer than 255 characters.</span>
                                    <span class="clearfix"></span>
                                </div>
                                <label class="formLabel"><i class="icon-map-marker"></i> Topics*:</label>
                                <input class="formInputMulti" type="text" ng-model="ldTopic" name="ldTopic"
                                       typeahead="suggestion for suggestion in getSubjects($viewValue)"
                                       typeahead-on-select="addTopicFromSuggestion()"
                                       ui-keypress="{13:'addTopicFromUserInput($event)'}"
                                       placeholder="Topics..." required ng-maxlength="255"
                                       ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                                <span class="editButton" ng-click="addTopicFromUserInput($event)"><i class="icon-plus icon-white"></i> </span>
                                <span class="clearfix"></span>

                                <div id="topicTags" class="formTag">
                                    <ul ng-repeat="topic in selectedTopics" class="zeroMargin subjects">
                                        <li class="modalEditItem"><span class="modalEditItemLink">{{topic}} 
                                        	<a ng-click="removeTopic(topic)"><i class="icon-remove-circle"></i> </a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Objectives -->
                            <div id="objectiveSection" class="formLevel">
                                <div class="errorBox">
                                    <span id="objectiveReqErr" class="errorTipModal" ng-show="LdCreateForm.ldObjective.$dirty && LdCreateForm.ldObjective.$error.required">Required!</span>
                                    <span id="objectivePatternErr" class="errorTipModal" ng-show="LdCreateForm.ldObjective.$error.pattern">An objective cannot contain this symbol.</span>
                                    <span id="objectiveLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldObjective.$error.maxlength">An objective cannot be longer than 255 characters.</span>
                                    <span class="clearfix"></span>
                                </div>
                            <label class="formLabel"><i class="icon-screenshot"></i> Objectives*:</label>
                            <input class="formInputMulti" type="text" name="ldObjective" ng-model="ldObjective"
                                   typeahead="suggestion for suggestion in getObjectives($viewValue)"
                                   typeahead-on-select="addObjectiveFromSuggestion()"
                                   ui-keypress="{13:'addObjectiveFromUserInput($event)'}"
                                   placeholder="Objectives..." required ng-maxlength="255"
                                   ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                                <span class="editButton" ng-click="addObjectiveFromUserInput($event)"><i class="icon-plus icon-white"></i> </span>
                                <span class="clearfix"></span>

                            <div id="objectiveTags" class="formTag">
                                <ul ng-repeat="objective in selectedObjectives" class="zeroMargin objectives">
                                    <li class="modalEditItem"><span class="modalEditItemLink">{{objective}} 
                                    	<a ng-click="removeObjective(objective)"><i class="icon-remove-circle"></i> </a></span>
                                    </li>
                                </ul>
                            </div>
                    		</div>

                    		<!-- Pre-requisites -->
		                    <div class="formLevel">
		                        <div class="errorBox">
		                            <span id="prereqPatternErr" class="errorTipModal" ng-show="LdCreateForm.ldRequisite.$error.pattern">A pre-requisite cannot contain this symbol.</span>
		                            <span id="prereqLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldRequisite.$error.maxlength">A pre-requisite cannot be longer than 255 characters.</span>
		                        </div>
		                        <label class="formLabel"><i class="icon-backward"></i> Pre-Requisites:</label>
		                        <input class="formInputMulti" type="text" name="ldRequisite" ng-model="ldRequisite"
		                        	   typeahead="suggestion for suggestion in getObjectives($viewValue)"
                                       typeahead-on-select="addPrerequisiteFromSuggestion()"
                                       ui-keypress="{13:'addPrerequisiteFromUserInput($event)'}"
		                               placeholder="Prerequisites..."  ng-maxlength="255"
                                       ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                                <span class="editButton" ng-click="addPrerequisiteFromUserInput($event)"><i class="icon-plus icon-white"></i> </span>
                                <span class="clearfix"></span>

		                        <div class="formTag">
		                            <ul ng-repeat="prerequisite in selectedPrerequisites" class="zeroMargin prerequisites">
		                                <li class="modalEditItem"><span class="modalEditItemLink">{{prerequisite}} 
		                                	<a ng-click="removePrerequisite(prerequisite)"><i class="icon-remove-circle"></i> </a></span>
		                                </li>
		                            </ul>

		                        </div>
		                    </div>

		                    <!-- Students Description -->
		                    <div class="formLevel">
		                        <div class="errorBox">
		                            <span id="studentsDescrReqErr" class="errorTipModal" ng-show="LdCreateForm.ldStudentsDescr.$dirty && LdCreateForm.ldStudentsDescr.$error.required">Required!</span>
                                    <span id="ldStudentDescrPatternErr" class="errorTipModal" ng-show="LdCreateForm.ldStudentsDescr.$error.pattern">Students' description cannot contain this symbol.</span>
		                            <span id="ldStudentDescrLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldStudentsDescr.$error.maxlength">Students' description cannot be longer than 500 characters.</span>
		                        </div>
		                        <label class="formLabel"><i class="icon-user"></i> Students' Description*:</label>
		                        <textarea class="formInput" name="ldStudentsDescr" ng-model="ldStudentsDescr" required="" rows="4" ng-maxlength="500"  ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/"></textarea>
		                        <span class="clearfix"></span>
		                    </div>

                            </div>
			                <div class="modal-footer">
                                <div id="ldCreateErrors" ng-show="ldCreateErrors" class="alert alert-error">
                                    {{ ldCreateErrors }}
                                </div>

                                <a id="cancelCreateLd" class="btn btnFormCancel" ng-click="closeLD()">Cancel</a>
			                    <button id="confirmCreateLD" type="submit" class="btn btnForm " ng-disabled="LdCreateForm.$invalid">Create</button>
			                </div>
                    	</form>
                    </div><!-- End Modal Body -->
                </div><!-- End LD creation Modal -->
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

</div>
<!-- End Nav Bar User View -->


<div ng-view class="container">
</div>
<div id="footer">
    <a class="scrollup" href="#">Scroll</a>

    <div id="copyInfo">LEDITA is distributed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT
        Licence</a><br>&copy; 2011-2013 <a href="https://github.com/arpetti" target="_blank">Alessandro Arpetti</a> and
        <a href="https://github.com/danielabar" target="_blank">Daniela Baron</a></div>
</div>

<!-- TODO: Consider hosting angular libs locally so it can work even when offline -->
<!-- Vendor Lib -->
<script src="/js/lib/underscore-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-cookies.js"></script>

<!-- Client MVC -->
<script src="/js/auth/AuthRoutingConfig.js"></script>
<script src="/js/app.js"></script>
<script src="/js/auth/AuthService.js"></script>
<script src="/js/auth/AuthController.js"></script>
<script src="/js/auth/AuthFilter.js"></script>
<script src="/js/auth/AuthDirective.js"></script>
<script src="/js/common/UnderscoreWrapper.js"></script>
<script src="/js/common/TypeaheadService.js"></script>
<script src="/js/ld/HomeController.js"></script>
<script src="/js/ld/HomeService.js"></script>
<script src="/js/ld/LearningDesignController.js"></script>
<script src="/js/ld/LearningDesignEditController.js"></script>
<script src="/js/ld/LearningDesignService.js"></script>
<script src="/js/ld/LearningDesignEditService.js"></script>
<script src="/js/ld/LDDirectives.js"></script>
<script src="/js/ld/ActivityFilter.js"></script>
<script src="/js/activity/ActivityController.js"></script>
<script src="/js/user/UserController.js"></script>
<script src="/js/user/UserService.js"></script>

<!-- Bootstrap -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/ui-bootstrap-tpls-0.4.0.min.js"></script>

<!-- Util -->
<script src="/js/lib/ng-infinite-scroll.min.js"></script>
<script src="/js/lib/ui-utils.min.js"></script>


<script>

    // scroll-to-top button show and hide
    jQuery(document).ready(function () {
        jQuery(window).scroll(function () {
            if (jQuery(this).scrollTop() > 100) {
                jQuery('.scrollup').fadeIn();
            } else {
                jQuery('.scrollup').fadeOut();
            }
        });
// scroll-to-top animate
        jQuery('.scrollup').click(function () {
            jQuery("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });

</script>
</body>
</html>
