<!DOCTYPE html>
<html lang="en" ng-app="ledita-app">
<head>
  <meta charset="utf-8">
  <title>LEDITA: Learning Design for Italian Language</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">

</head>

<body ng-cloak ng-controller="AppCtrl">

  <!-- Begin Nav Bar Anon View -->
  <div id="navBarAnon" data-access-level='{{ accessLevels.anon }}' ng-controller="LoginCtrl" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-white icon-user"></span>
        </button>
        <a class="brand" href="#"><img src="../img/logo.png" alt="Ledita Logo" /></a>
          <div class="nav-collapse collapse">

          <form ng-submit="login()" class="navbar-form pull-right">
            <span id="loginError" ng-show="error" class="alert alert-error centered">
                  {{ error }}
              </span>

              <input ng-model="username" class="span2" type="email" placeholder="Email" required="">
            <input ng-model="password" class="span2" type="password" placeholder="Password" required="">
            <button id="loginButton" type="submit" class="btn">Login</button>
              <span id="pwRec"><a href="#">Forgot your password?</a></span>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!-- End Nav Bar Anon View -->

  <!-- Begin Nav Bar User View -->
  <div id="navBarUser" data-access-level='{{ accessLevels.user }}' class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#"><img src="../img/logo.png" alt="Ledita Logo" /></a>
        <div class="nav-collapse collapse">
         <ul class="nav-top-pad nav">
          <li><button type="button" class="btn btn-small btn-signup">Explore LDs</button></li>
          <li><button type="button" class="btn btn-small btn-signup">Find Users</button></li>
          <li><button type="button" class="btn btn-small btn-signup">Create a New LD</button></li>
        </ul>
        <div class="pull-right">
          <ul class="nav pull-right">
            <li id="loggedInUserName" class="nav-username">{{ user.username }}</li>
            <li class="dropdown">
              <a id="userActionsMenu" href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="img/avatar_sample.png" alt="User Avatar" class="img-rounded"/>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-cog"></i> Preferences</a></li>
                <li><a href="#"><i class="icon-envelope"></i> Contact Support</a></li>
                <li class="divider"></li>
                <li><a id="logoutLink" ng-click="logout()" href=""><i class="icon-off"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div><!-- End Nav Bar User View -->

<div ng-view class="container"></div>

<!-- Vendor Lib -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-cookies.js"></script>

<!-- Client MVC -->
<script src="/js/auth/AuthRoutingConfig.js"></script>
<script src="/js/app.js"></script>
<script src="/js/auth/AuthService.js"></script>
<script src="/js/auth/AuthController.js"></script>
<script src="/js/auth/AuthFilter.js"></script>
<script src="/js/auth/AuthDirective.js"></script>
<script src="/js/ld/HomeController.js"></script>
<script src="/js/ld/HomeService.js"></script>

<!-- Bootstrap -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/ui-bootstrap-tpls-0.4.0.min.js"></script>
</body>
</html>
