<!DOCTYPE html>
<html lang="it" ng-app="ledita-app">
<head>
    <meta charset="utf-8">
    <title>LEDITA: Progettazione didattica per l'italiano L2/LS </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/bootstrap.icon-large.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/ngDialog.css" rel="stylesheet">
    <link href="/css/ngDialog-theme-default.css" rel="stylesheet">

</head>

<body ng-cloak ng-controller="AppCtrl">

<!-- Begin Nav Bar Anon View -->
<div id="navBarAnon" data-access-level='{{ accessLevels.anon }}' ng-controller="LoginCtrl"
     class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-white icon-user"></span>
            </button>
            <a class="brand" href="#" name="top"><img src="../img/logo-beta.png" alt="Ledita Logo"/></a>

            <div class="nav-collapse collapse">

                <form ng-submit="login()" class="navbar-form pull-right">
            <span id="loginError" ng-show="error" class="alert alert-error centered">
                  {{ error }}
              </span>

                    <input ng-model="username" class="span2" type="email" placeholder="Email" required="">
                    <input ng-model="password" class="span2" type="password" placeholder="Password" required="">
                    <button id="loginButton" type="submit" class="btn">Entra</button>
                    <span id="pwRec"><a href="#">Password dimenticata?</a></span>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- End Nav Bar Anon View -->

<!-- Begin Nav Bar User View -->
<div id="navBarUser" data-access-level='{{ accessLevels.user }}' class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="homeLink" class="brand" href="/"><img src="../img/logo-beta.png" alt="Ledita Logo"/></a>

            <div ng-controller="NavActionCtrl" class="nav-collapse collapse">
                <ul class="nav-top-pad nav">
                    <li>
                        <button type="button" class="btn btn-small btn-menu" onclick="location.href='/lds'">Esplora progetti</button>
                    </li>
                    <li>
                        <button id="createLd" type="button" class="btn btn-small btn-menu" href ng-click="createLD()">
                            Nuovo progetto
                        </button>

                    </li>
                    <li>
                        <button type="button" class="btn btn-small btn-menu" onclick="location.href='/users'" >Trova colleghi</button>
                    </li>

                </ul>
                <div class="pull-right nav-closed">
                    <ul class="nav pull-right">
                        <a id="userActionsMenu" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <li class="dropdown">
                            <li id="loggedInUserName" class="nav-username">{{ user.name }} {{ user.last_name }}</li>
                            
                            <!-- User Avatar -->
                            <img id="userAvatarImage" ng-show="user.image_uri" ng-src="/{{user.image_uri}}" alt="User Avatar" class="img-rounded user-pic"/>
                            <img id="defaultAvatarImage" ng-show="!user.image_uri" ng-src="/img/pics/user.png" alt="User Avatar" class="img-rounded user-pic"/>

                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="myProfileLink" href="/useredit"><i class="icon-cog"></i> Il mio profilo</a></li>
                            <li><a id="myProjectsLink" href="/userlds"><i class="icon-pencil"></i> I miei progetti</a></li>
                            <li class="divider"></li>
                            <li><a id="logoutLink" ng-click="logout()" href=""><i class="icon-off"></i> Esci</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>

                <!-- Start LD creation Modal -->
                <div modal="beOpen" close="closeLD()" options="opts" id="modal">

                    <div class="modal-header">
                        <h4>Crea un nuovo progetto didattico</h4>

                        <div class="clearfix"></div>
                    </div>
                    <div ng-controller="LdCreateCtrl" >
                    	<form novalidate class="createLdForm" name="LdCreateForm" ng-submit="submitLD()">
                         <div class="modal-body">


                         	<!-- Name -->
                            <div class="formLevel">
                                <div class="errorBox">
                                    <span id="ldNameReqErr" class="errorTipModal" ng-show="LdCreateForm.ldName.$dirty && LdCreateForm.ldName.$error.required">Necessario!</span>
                                    <span id="ldNamePatternErr" class="errorTipModal" ng-show="LdCreateForm.ldName.$error.pattern">Simbolo non permesso.</span>
                                    <span id="ldNameLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldName.$error.maxlength">Massimo 50 caratteri.</span>
                                </div>
                                <label class="formLabel" ><i class="icon-book"></i> Nome del progetto*: </label>
                                <input class="formInput" type="text" name="ldName" ng-model="ldName" required ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                                <i class="icon-question-sign float-right" tooltip="Scegli un titolo da dare all'intero progetto. Questo nome è quello che apparirà nella pagina principale di LEDITA." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                                <span class="clearfix"></span>
                            </div>

                            <!-- Qcers -->
                            <div class="formLevel">
                                <div class="errorBox">
                                    <span class="errorTipModal" ng-show="LdCreateForm.qcer.$dirty && LdCreateForm.qcer.$error.required">Necessario!</span>
                                </div>
                                <label class="formLabel" ><i class="icon-tasks"></i> Livelli QCER*: </label>
                                <div class="formCheck">
                                    <i class="icon-question-sign" tooltip="Scegli uno o più livelli del Quadro Comune Europeo. I livelli vanno dall'A1, principiante, al C2, avanzato." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i>
                                    <span ng-show="qcerError">{{ qcerError }}</span>
				                	<span ng-repeat="qceropt in qceropts" class="qcerOptData" >
				                    	<input type="checkbox" ng-model="selectedQcers[qceropt.id]" name="qcer"> {{ qceropt.name }}
				                	</span>
                                </div>
                                <span class="clearfix"></span>
                            </div>

                            <!-- Scope -->
                            <div id="scopeSection" class="formLevel">
                                <div class="errorBox">
                                    <span id="ldScopeReqErr" class="errorTipModal" ng-show="LdCreateForm.ldScope.$dirty && LdCreateForm.ldScope.$error.required">Necessario!</span>
                                    <span id="ldScopePatternErr" class="errorTipModal" ng-show="LdCreateForm.ldScope.$error.pattern">Simbolo non permesso.</span>
                                    <span id="ldScopeLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldScope.$error.maxlength">Massimo 50 caratteri.</span>
                                    <span class="clearfix"></span>
                                </div>

                                <!-- INSERT IN LABEL TO ADD TOOLTIP FOR SCOPE
                                tooltip="Scrivi qui la tipologia di progetto, indicando non la durata temporale in ore, minuti, ecc., ma l'ambito di applicazione. Per esempio: Unità Didattica, Lezione, Unità di Apprendimento, Modulo, Singola Attività o Semestre." tooltip-trigger="mouseenter" tooltip-placement="bottom"
                                -->

                                <label class="formLabel" ><i class="icon-bell"></i> Ambito di applicazione*: </label>
                                <input class="formInput" type="text" name="ldScope" ng-model="ldScope"
                                	  typeahead="suggestion for suggestion in getScopes($viewValue)"
                                      required ng-maxlength="50"
                                       ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/" >
                                <i class="icon-question-sign float-right"  tooltip="Scrivi qui la tipologia di progetto, indicando non la durata temporale in ore, minuti, ecc., ma l'ambito di applicazione. Per esempio: Unità Didattica, Lezione, Unità di Apprendimento, Modulo, Singola Attività o Semestre." tooltip-trigger="mouseenter" tooltip-placement="bottom"
                                        ></i>
                            </div>

                            <!-- Topics -->
                            <div id="topicSection" class="formLevel">
                                <div class="errorBox">
                                    <!-- Removed for usability test
                                <span id="topicReqErr" class="errorTipModal" ng-show="LdCreateForm.ldTopic.$dirty && LdCreateForm.ldTopic.$error.required">Necessario!</span>
                                -->
                                  <span id="topicPatternErr" class="errorTipModal" ng-show="LdCreateForm.ldTopic.$error.pattern">Simbolo non permesso.</span>
                                  <span id="topicLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldTopic.$error.maxlength">Massimo 255 caratteri.</span>
                                  <span class="clearfix"></span>
                              </div>
                                <!-- INSERT IN LABEL TO ADD TOOLTIP FOR topic
                               tooltip="Scrivi uno o più argomenti del progetto, ad esempio: articoli, presentarsi, i saluti, ecc. Per inserirli, premi dopo ogni argomento 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="bottom"
                               -->
                                <label class="formLabel"  ><i class="icon-map-marker"></i> Argomenti*: </label>
                               <input class="formInputMultiple" type="text" ng-model="ldTopic" name="ldTopic"
                                      typeahead="suggestion for suggestion in getSubjects($viewValue)"
                                      typeahead-on-select="addTopicFromSuggestion()"
                                      ui-keypress="{13:'addTopicFromUserInput($event)'}"
                                       required ng-maxlength="255"
                                      ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                               <span class="editButton" ng-click="addTopicFromUserInput($event)"><i class="icon-plus icon-white" tooltip="Clicca qui o premi 'Invio' per aggiungere un argomento." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i> </span>

                                 <span class="clearfix"></span>
                                 <span class="multiValue">Puoi inserire più di un valore <i class="icon-question-sign"  tooltip="Scrivi uno o più argomenti del progetto, ad esempio: articoli, presentarsi, i saluti, ecc. Per inserirli, premi dopo ogni argomento 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="top"></i> </span>

                               <div id="topicTags" class="formTag">
                                   <ul ng-repeat="topic in selectedTopics" class="zeroMargin subjects">
                                       <li class="modalEditItem"><span class="modalEditItemLink">{{topic}}
                                           <a ng-click="removeTopic(topic)"><i class="icon-remove-circle"></i> </a></span>
                                       </li>
                                   </ul>
                               </div>
                           </div>

                           <!-- Objectives -->
                            <div id="objectiveSection" class="formLevel">
                                <div class="errorBox">
                                    <!-- Removed for usability test
                                    <span id="objectiveReqErr" class="errorTipModal" ng-show="LdCreateForm.ldObjective.$dirty && LdCreateForm.ldObjective.$error.required">Necessario!</span>
                                    -->
                                    <span id="objectivePatternErr" class="errorTipModal" ng-show="LdCreateForm.ldObjective.$error.pattern">Simbolo non permesso.</span>
                                    <span id="objectiveLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldObjective.$error.maxlength">Massimo 255 caratteri.</span>
                                    <span class="clearfix"></span>
                                </div>
                                <!-- INSERT IN LABEL TO ADD TOOLTIP FOR SCOPE
                              tooltip="Scrivi uno o più obiettivi didattici del progetto, ad esempio: gli articoli determinativi, salutare formalmente, presentare un amico, ecc. Per inserirli, premi dopo ogni obiettivo 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="bottom"
                              -->
                                <label class="formLabel"  ><i class="icon-screenshot"></i> Obiettivi*:</label>
                              <input class="formInputMultiple" type="text" name="ldObjective" ng-model="ldObjective"
                                     typeahead="suggestion for suggestion in getObjectives($viewValue)"
                                     typeahead-on-select="addObjectiveFromSuggestion()"
                                     ui-keypress="{13:'addObjectiveFromUserInput($event)'}"
                                     required ng-maxlength="255"
                                     ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                                  <span class="editButton" ng-click="addObjectiveFromUserInput($event)"><i class="icon-plus icon-white" tooltip="Clicca qui o premi 'Invio' per aggiungere un obiettivo." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i> </span>
                                  <span class="clearfix"></span>
                                  <span class="multiValue">Puoi inserire più di un valore <i class="icon-question-sign"  tooltip="Scrivi uno o più obiettivi del progetto, ad esempio: articoli, presentarsi, i saluti, ecc. Per inserirli, premi dopo ogni argomento 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="top"></i> </span>

                              <div id="objectiveTags" class="formTag">
                                  <ul ng-repeat="objective in selectedObjectives" class="zeroMargin objectives">
                                      <li class="modalEditItem"><span class="modalEditItemLink">{{objective}}
                                          <a ng-click="removeObjective(objective)"><i class="icon-remove-circle"></i> </a></span>
                                      </li>
                                  </ul>
                              </div>
                              </div>

                              <!-- Pre-requisites -->
		                    <div class="formLevel">
		                        <div class="errorBox">
		                            <span id="prereqPatternErr" class="errorTipModal" ng-show="LdCreateForm.ldRequisite.$error.pattern">Simbolo non permesso.</span>
		                            <span id="prereqLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldRequisite.$error.maxlength">Massimo 255 caratteri.</span>
		                        </div>
		                        <label class="formLabel"  tooltip="Scrivi uno o più prerequisiti necessari per svolgere le attività del progetto, ad esempio: maschile e femminile dei nomi, registro formale e informale, verbi indicativo presente, ecc. Per inserirli, premi dopo ogni prerequisito 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="bottom"><i class="icon-backward"></i> Prerequisiti:</label>
		                        <input class="formInputMultiple" type="text" name="ldRequisite" ng-model="ldRequisite"
		                        	   typeahead="suggestion for suggestion in getObjectives($viewValue)"
                                       typeahead-on-select="addPrerequisiteFromSuggestion()"
                                       ui-keypress="{13:'addPrerequisiteFromUserInput($event)'}"
		                               ng-maxlength="255"
                                       ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/">
                                <span class="editButton" ng-click="addPrerequisiteFromUserInput($event)"><i class="icon-plus icon-white" tooltip="Clicca qui o premi 'Invio' per aggiungere un prerequisito." tooltip-trigger="mouseenter" tooltip-placement="bottom"></i> </span>
                                <span class="clearfix"></span>
                                <span class="multiValue">Puoi inserire più di un valore <i class="icon-question-sign"  tooltip="Scrivi uno o più prerequisiti del progetto, ad esempio: articoli, presentarsi, i saluti, ecc. Per inserirli, premi dopo ogni argomento 'Invio' o il bottone '+' a destra." tooltip-trigger="mouseenter" tooltip-placement="top"></i> </span>

		                        <div class="formTag">
		                            <ul ng-repeat="prerequisite in selectedPrerequisites" class="zeroMargin prerequisites">
		                                <li class="modalEditItem"><span class="modalEditItemLink">{{prerequisite}} 
		                                	<a ng-click="removePrerequisite(prerequisite)"><i class="icon-remove-circle"></i> </a></span>
		                                </li>
		                            </ul>

		                        </div>
		                    </div>

		                    <!-- Students Description -->
		                    <div class="formLevel">
		                        <div class="errorBox">
		                            <span id="studentsDescrReqErr" class="errorTipModal" ng-show="LdCreateForm.ldStudentsDescr.$dirty && LdCreateForm.ldStudentsDescr.$error.required">Necessario!</span>
                                    <span id="ldStudentDescrPatternErr" class="errorTipModal" ng-show="LdCreateForm.ldStudentsDescr.$error.pattern">Simbolo non permesso.</span>
		                            <span id="ldStudentDescrLengthErr" class="errorTipModal" ng-show="LdCreateForm.ldStudentsDescr.$error.maxlength">Massimo 500 caratteri.</span>
		                        </div>
		                        <label class="formLabel"  ><i class="icon-user"></i> Descrizione degli studenti*: <i class="icon-question-sign" tooltip="Descrivi gli studenti e il contesto per al quale il progetto è destinato." tooltip-trigger="mouseenter" tooltip-placement="top"></i></label>
		                        <textarea class="formInput" name="ldStudentsDescr" ng-model="ldStudentsDescr" required="" rows="4" ng-maxlength="500"  ng-pattern="/^[a-zA-Z0-9.,!?:;... òàùèéì/'/-//@#*]+$/"></textarea>
		                        <span class="clearfix"></span>
		                    </div>

                            </div>
			                <div class="modal-footer">
                                <div id="ldCreateErrors" ng-show="ldCreateErrors" class="alert alert-error">
                                    {{ ldCreateErrors }}
                                </div>

                                <a id="cancelCreateLd" class="btn btnFormCancel" ng-click="closeLD()">Cancella</a>
			                    <button id="confirmCreateLD" type="submit" class="btn btnForm " ng-disabled="LdCreateForm.$invalid">Crea</button>
			                </div>
                    	</form>
                    </div><!-- End Modal Body -->
                </div><!-- End LD creation Modal -->
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

</div>
<!-- End Nav Bar User View -->


<div ng-view class="container">
</div>
<div id="footer">
    <a class="scrollup" href="#">Torna sù </a>

    <div id="copyInfo">LEDITA è distribuito con <a href="http://opensource.org/licenses/MIT" target="_blank">Licenza MIT
        </a><br>&copy; 2011-2013 <a href="https://github.com/arpetti" target="_blank">Alessandro Arpetti</a> e
        <a href="https://github.com/danielabar" target="_blank">Daniela Baron</a></div>
</div>

<!-- Vendor Lib: For development use locally hosted versions so it can work even when not wifi connected -->
<script src="/js/lib/underscore-min.js"></script>
<script src="/js/lib/angular-file-upload-shim.js"></script>
<script src="/js/lib/angular/angular.min.js"></script>
<script src="/js/lib/angular-file-upload.js"></script>
<script src="/js/lib/angular/angular-cookies.js"></script>

<!-- For production, use cdn -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-cookies.js"></script> -->

<!-- Development Client MVC (for production, use concat version) -->
<script src="/js/auth/AuthRoutingConfig.js"></script>
<script src="/js/app.js"></script>
<script src="/js/auth/AuthService.js"></script>
<script src="/js/auth/AuthController.js"></script>
<script src="/js/auth/AuthFilter.js"></script>
<script src="/js/auth/AuthDirective.js"></script>
<script src="/js/common/UnderscoreWrapper.js"></script>
<script src="/js/common/TypeaheadService.js"></script>
<script src="/js/ld/HomeController.js"></script>
<script src="/js/ld/HomeService.js"></script>
<script src="/js/ld/LearningDesignController.js"></script>
<script src="/js/ld/LearningDesignEditController.js"></script>
<script src="/js/ld/LearningDesignService.js"></script>
<script src="/js/ld/LearningDesignEditService.js"></script>
<script src="/js/ld/LDDirectives.js"></script>
<script src="/js/ld/ActivityFilter.js"></script>
<script src="/js/activity/lvl-drag-and-drop.js"></script>
<script src="/js/activity/ActivityController.js"></script>
<script src="/js/activity/ActivityService.js"></script>
<script src="/js/user/UserProfileEditService.js"></script>
<script src="/js/user/UserProfileEditController.js"></script>
<script src="/js/userprojects/UserProjectsController.js"></script>
<script src="/js/userprojects/MyProjectsController.js"></script>
<script src="/js/userprojects/UserProjectsService.js"></script>
<script src="/js/user/UserController.js"></script>
<script src="/js/user/UserService.js"></script>

<!-- Bootstrap -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/ui-bootstrap-tpls-0.4.0.min.js"></script>

<!-- Util -->
<script src="/js/lib/ng-infinite-scroll.min.js"></script>
<script src="/js/lib/ui-utils.min.js"></script>
<script src="/js/lib/ngDialog.min.js"></script>

<script>

    // scroll-to-top button show and hide
    jQuery(document).ready(function () {
        jQuery(window).scroll(function () {
            if (jQuery(this).scrollTop() > 100) {
                jQuery('.scrollup').fadeIn();
            } else {
                jQuery('.scrollup').fadeOut();
            }
        });
// scroll-to-top animate
        jQuery('.scrollup').click(function () {
            jQuery("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });

</script>
</body>
</html>
